@import "_default.scss";
@import "_common.scss";
.gridarea {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px calc(100vh - 100px);
  grid-template-areas: "header side" "visual side";

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      > a {
        display: block;
        background-image: url(../images/logo.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 50px;
        font-size: 0;
        line-height: 0;
      }
    }
    .gnb {
      width: 100%;
      height: 100%;
      .gnb_open {
        display: none;
      }
      > ul {
        padding: 0 0 0 10.2083vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        > li {
          width: 100%;
          height: 100%;
          position: relative;
          > a {
            height: 100%;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
          }
          > ul {
            display: none;
            position: relative;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 320px;

            background-color: #fff;
            padding: 15px 0 0 0;

            > li {
              > a {
                line-height: 2.6;
                text-align: center;
                font-size: 18px;
                display: block;
                padding: 0;
              }
            }
          }
        }
      }
      &.menu_open,
      &:hover {
        ul {
          li {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
  .visual {
    grid-area: visual;
    video {
      object-fit: cover;
      filter: brightness(150%);
    }
  }
  aside {
    z-index: 1;
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0081cf;
    animation: grid_area 1s forwards;

    @keyframes grid_area {
      from {
        opacity: 0;
        width: 200%;
      }
      to {
        opacity: 1;
        width: 100%;
      }
    }

    .language {
      > ul {
        display: flex;

        flex-direction: row;

        > li {
          color: #999;
          > a {
            display: block;
            padding: 30px 20px;
            font-size: 20px;
          }
          &.active {
            color: #fff;
          }
        }
      }
    }
    h2 {
      font-size: 48px;
      padding: 0 0 45vh 0;
      color: #fff;
      span {
        display: block;
        transition: 1s;
        &:nth-child(1) {
          animation: appear 1s forwards;
        }
        &:nth-child(2) {
          animation: appear 2s forwards;
        }
        &:nth-child(3) {
          animation: appear 4s forwards;
        }
        @keyframes appear {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .gridarea {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-areas: "header side" "visual side";

    .header {
      h1 {
        a {
          display: block;
          background-image: url(../images/logo.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 200px;
          height: 50px;
          font-size: 0;
          line-height: 0;
        }
      }
      .gnb {
        width: 100%;
        height: 100%;
        .gnb_open {
          display: none;
        }
        > ul {
          padding: 0 0 0 6.2083vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          > li {
            width: 100%;
            height: 100%;
            position: relative;
            > a {
              font-size: 20px;
              padding: 20px;
            }
            > ul {
              display: none;
              position: relative;
              z-index: 1;
              left: 0;
              top: 0;
              width: 100%;

              background-color: #fff;
              padding: 15px 0 0 0;

              > li {
                > a {
                  font-size: 15px;
                  display: block;
                  padding: 0;
                  line-height: 2.6;
                }
              }
            }
          }
        }
      }
    }
    .visual {
      grid-area: visual;
      video {
        object-fit: cover;
        filter: brightness(150%);
      }
    }
    aside {
      z-index: 1;
      grid-area: side;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #0081cf;
      animation: grid_area 1s forwards;

      @keyframes grid_area {
        from {
          opacity: 0;
          width: 200%;
        }
        to {
          opacity: 1;
          width: 100%;
        }
      }

      .language {
        > ul {
          display: flex;

          flex-direction: row;

          > li {
            color: #999;
            > a {
              display: block;
              padding: 30px 20px;
              font-size: 18px;
            }
            &.active {
              color: #fff;
            }
          }
        }
      }
      h2 {
        font-size: 38px;
        padding: 0 0 45vh 0;
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .gridarea {
    .header {
      h1 {
        a {
          width: 150px;
          height: 37px;
        }
      }
      .gnb {
        > ul {
          padding: 0 0 0 2.2083vw;
          > li {
            > a {
              font-size: 18px;
              padding: 10px;
            }
            > ul {
              display: none;
              position: relative;
              z-index: 1;
              left: 0;

              width: 100%;
              height: 300px;
              background-color: #fff;
              padding: 15px 0 0 0;

              > li {
                a {
                  font-size: 15px;
                  display: block;
                  padding: 0;
                  line-height: 2.6;
                  padding: 0 0 0 15px;
                }
              }
            }
          }
        }
      }
    }
    .visual {
      grid-area: visual;
      video {
        object-fit: cover;
        filter: brightness(150%);
      }
    }
    aside {
      z-index: 1;
      grid-area: side;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #0081cf;
      animation: grid_area 1s forwards;

      @keyframes grid_area {
        from {
          opacity: 0;
          width: 200%;
        }
        to {
          opacity: 1;
          width: 100%;
        }
      }

      .language {
        > ul {
          display: flex;

          flex-direction: row;

          > li {
            color: #999;
            > a {
              display: block;
              padding: 30px 10px;
              font-size: 16px;
            }
            &.active {
              color: #fff;
            }
          }
        }
      }
      h2 {
        font-size: 25px;
        padding: 0 0 45vh 0;
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .gridarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px calc(50vh - 60px);
    grid-template-areas: "header header" "visual visual";

    .header {
      grid-area: header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        > a {
          display: block;
          background-image: url(../images/logo.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 150px;
          height: 37px;
          font-size: 0;
          line-height: 0;
        }
      }
      .gnb {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .gnb_open {
          display: block;
          padding: 0 10px 0 0;
          span {
            display: block;
            transition: 0.3s;
            width: 23px;
            height: 2px;
            margin-bottom: 6px;
            border-radius: 3px; /* 높이의 절반 */
            background-color: #666;
            font-size: 0;
            line-height: 0;
          }
        }
        > ul {
          padding: 0;
          display: none;

          justify-content: center;
          align-items: center;
          position: absolute;
          flex-direction: column;
          left: 0;
          top: 60px;
          width: 100%;
          height: 80vh;
          border-bottom: 0;
          z-index: 1;
          color: #3d3d3d;
          background-color: #fff;
          > li {
            width: 100%;
            height: auto;
            position: relative;
            a {
              height: 100%;

              font-size: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 30px;
            }
            > ul {
              display: none;
              position: relative;

              left: auto;
              top: auto;
              width: auto;
              height: auto;

              background-color: #fff;
              padding: 15px 0 0 0;

              > li {
                height: auto;
                > a {
                  font-size: 18px;
                  display: block;
                  padding: 0;
                  line-height: 1.5;
                }
              }
            }
          }
        }
        &.menu_mobile {
          span {
            background: #666;
            &:nth-child(1) {
              animation: menu_rotate 1s forwards;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              animation: menu_rotater 1s forwards;
            }

            @keyframes menu_rotate {
              50% {
                transform: translate(0, 8px) rotate(180deg);
              }
              100% {
                transform: translate(0, 8px) rotate(45deg);
              }
            }
            @keyframes menu_rotater {
              50% {
                transform: translate(0, -8px) rotate(180deg);
              }
              100% {
                transform: translate(0, -8px) rotate(-45deg);
              }
            }
          }
          > ul {
            display: block;
            > li {
              height: auto;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              > a {
                display: flex;
              }
              > ul {
                display: none;
                height: auto;
                padding: 0;
                top: auto;
                left: auto;
                width: 100%;
                height: auto;
                position: relative;

                > li {
                  height: auto;
                  position: relative;
                  a {
                    line-height: 2;
                  }
                }
                &.sub_open {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .visual {
      grid-area: visual;
      video {
        object-fit: cover;
        filter: brightness(150%);
      }
    }
    aside {
      display: none;
      z-index: 1;

      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #0081cf;
      animation: grid_area 1s forwards;

      @keyframes grid_area {
        from {
          opacity: 0;
          width: 200%;
        }
        to {
          opacity: 1;
          width: 100%;
        }
      }

      .language {
        > ul {
          display: none;

          flex-direction: row;

          > li {
            color: #999;
            a {
              display: block;
              padding: 30px 20px;
              font-size: 20px;
            }
            &.active {
              color: #fff;
            }
          }
        }
      }
      h2 {
        font-size: 48px;
        padding: 0 0 45vh 0;
        color: #fff;
        span {
          display: block;
          transition: 1s;
          &:nth-child(1) {
            animation: appear 1s forwards;
          }
          &:nth-child(2) {
            animation: appear 2s forwards;
          }
          &:nth-child(3) {
            animation: appear 4s forwards;
          }
          @keyframes appear {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.biz {
  padding: 90px 0;

  .cnt_wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;

    grid-template-areas: "list focus";
    .list {
      > ul {
        height: 530px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        > li {
          width: 100%;
          border-bottom: 1px solid #ccc;
          text-align: center;
          &:hover,
          &.active {
            border-bottom: 1px solid #fb4b7f;
          }
          > a {
            display: block;
            width: 100%;
            padding: 20px 0;
            font-size: 20px;
          }
        }
      }
    }
    .focus {
      > ul {
        margin: 0 0 0 20px;
        > li {
          display: none;
          &.show {
            display: flex;
          }

          > .pic {
            > img {
              width: 580px;
              object-fit: cover;
              border-radius: 0 40px 0 40px;
            }
          }
          .txt {
            padding: 0 0 0 70px;
            strong {
              color: #0095d0;
              font-size: 20px;
            }
            h2 {
              font-size: 60px;
              margin: 60px 0 20px 0;
              white-space: nowrap;
            }
            .more {
              margin: 80px 0 0 0;
              display: flex;
              align-items: center;
              padding: 10px;
              .material-symbols-outlined {
                margin: 0 0 0 10px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .biz {
    .cnt_wrap {
      .list {
        > ul {
          height: 460px;

          > li {
            &:hover {
            }
            > a {
            }
          }
        }
      }
      .focus {
        > ul {
          margin: 0;
          > li {
            &.show {
            }
            > .pic {
              > img {
                width: 500px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .biz {
    .cnt_wrap {
      .list {
        > ul {
          height: 350px;

          > li {
            &:hover {
            }
            > a {
              padding: 15px 0;
              font-size: 15px;
            }
          }
        }
      }
      .focus {
        > ul {
          > li {
            &.show {
            }
            > .pic {
              > img {
                width: 380px;
              }
            }
            .txt {
              padding: 0 0 0 10px;
              strong {
              }
              h2 {
                font-size: 30px;
                margin: 20px 0 20px 0;
              }
              .more {
                margin: 20px 0 0 0;

                padding: 10px;
                .material-symbols-outlined {
                  margin: 0 0 0 10px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .biz {
    padding: 60px 0;

    .cnt_wrap {
      .list {
        > ul {
          height: 258px;

          > li {
            &:hover {
            }
            > a {
              display: block;
              width: 100%;
              padding: 10px 0;
              font-size: 13px;
            }
          }
        }
      }
      .focus {
        > ul {
          margin: 0 0 0 5px;

          > li {
            position: relative;
            width: 280px;
            &.show {
              display: block;
            }
            > .pic {
              > img {
                width: 280px;
                filter: brightness(0.3);
                border-radius: 0 20px 0 20px;
              }
            }
            .txt {
              position: absolute;
              left: 0;
              top: 0;
              color: #fff;
              padding: 20px 10px;
              strong {
                color: #fff;
                font-size: 13px;
              }
              h2 {
                font-size: 35px;
                margin: 20px 0 40px 0;
              }
              p {
                display: none;
              }
              .more {
                margin: 5px 0 0 0;
                display: flex;
                align-items: center;
                padding: 10px;
                .material-symbols-outlined {
                  margin: 0 0 0 10px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.service {
  background-color: #002767;
  color: #fff;

  .gridwrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "customer" "prize";
    .customer {
      grid-area: customer;
      display: flex;
      justify-content: space-between;
      height: 300px;
      h2 {
        padding: 50px 0 0 0;
        font-size: 60px;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        li {
          background-color: #fff;
          color: #3d3d3d;

          margin: 0 0 0 40px;
          height: 200px;
          width: 320px;
          a {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
              font-size: 30px;
            }
          }
        }
      }
    }
    .prize {
      grid-area: prize;
      ul {
        display: flex;
        li {
          height: 80%;
          width: 50%;

          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;

          &:first-child {
            background-image: url(../images/service01.png);
          }
          &:last-child {
            background-image: url(../images/service02.png);
          }
          a {
            width: 100%;
            height: 100%;
            display: block;
            padding: 40px 0 0 40px;
            strong {
              font-size: 40px;
            }
            .more {
              margin: 80px 0 0 0;
              display: flex;
              align-items: center;
              padding: 10px;
              .material-symbols-outlined {
                margin: 0 0 0 10px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .service {
    .gridwrapper {
      .customer {
        h2 {
          padding: 50px 0 0 0;
          font-size: 50px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;

          li {
            background-color: #fff;
            color: #3d3d3d;

            margin: 0 0 0 40px;
            height: 180px;
            width: 220px;
            a {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              span {
                font-size: 30px;
              }
            }
          }
        }
      }
      .prize {
        grid-area: prize;
        ul {
          display: flex;
          li {
            height: 80%;
            width: 50%;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &:first-child {
              background-image: url(../images/service01.png);
            }
            &:last-child {
              background-image: url(../images/service02.png);
            }
            a {
              width: 100%;
              height: 100%;
              display: block;
              padding: 40px 0 0 40px;
              strong {
                font-size: 40px;
              }
              .more {
                margin: 80px 0 0 0;
                display: flex;
                align-items: center;
                padding: 10px;
                .material-symbols-outlined {
                  margin: 0 0 0 10px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .service {
    .gridwrapper {
      .customer {
        h2 {
          padding: 60px 0 0 0;
          font-size: 30px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;

          li {
            background-color: #fff;
            color: #3d3d3d;

            margin: 0 0 0 40px;
            height: 150px;
            width: 120px;
            a {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              span {
                font-size: 20px;
              }
            }
          }
        }
      }
      .prize {
        grid-area: prize;
        ul {
          display: flex;
          li {
            height: 80%;
            width: 50%;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &:first-child {
              background-image: url(../images/service01.png);
            }
            &:last-child {
              background-image: url(../images/service02.png);
            }
            a {
              width: 100%;
              height: 100%;
              display: block;
              padding: 40px 0 0 40px;
              strong {
                font-size: 25px;
              }
              .more {
                margin: 80px 0 0 0;
                display: flex;
                align-items: center;
                padding: 10px;
                .material-symbols-outlined {
                  margin: 0 0 0 10px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .service {
    padding: 40px 0 50px 0;
    background-color: #002767;
    color: #fff;

    .gridwrapper {
      display: block;

      .customer {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 200px;
        h2 {
          padding: 0;
          font-size: 30px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;

          li {
            background-color: #fff;
            color: #3d3d3d;

            margin: 0;
            height: 100px;
            width: 100px;
            a {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 25px;
                object-fit: cover;
              }
              span {
                font-size: 20px;
              }
            }
          }
        }
      }
      .prize {
        ul {
          li {
            &:first-child {
            }
            &:last-child {
            }
            a {
              width: 100%;
              height: 100%;
              display: block;
              padding: 20px 0 0 20px;
              strong {
                font-size: 20px;
              }
              .more {
                margin: 20px 0 0 0;
                display: flex;
                align-items: center;
                padding: 20px;
                .material-symbols-outlined {
                  margin: 0 0 0 10px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.manage {
  background-color: #ffffff;
  position: relative;
  padding: 0 0 30px 0;
  h2 {
    padding: 100px 0 80px 0;
    font-size: 60px;
  }
  p {
    margin: 0 0 20px 60%;
    &.tit {
      font-size: 40px;
    }
  }

  .bg_txt {
    color: rgba(188, 188, 188, 0.1);
    font-size: 200px;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    animation: bg_txt_ani 45s infinite;
    @keyframes bg_txt_ani {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50.3%);
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .manage {
    position: relative;
    h2 {
      padding: 100px 0 80px 100px;
      font-size: 60px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .manage {
    h2 {
    }
    p {
      margin: 0 0 20px 50%;
      &.tit {
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .manage {
    text-align: center;
    h2 {
      padding: 50px 0 20px 0;
      font-size: 30px;
    }
    p {
      margin: 10px 0 0 0;
      &.tit {
        font-size: 20px;
      }
    }

    .bg_txt {
      font-size: 100px;
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 0;

      @keyframes bg_txt_ani {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50.3%);
        }
      }
    }
  }
}
aside.top {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 95px;
  bottom: 95px;
  z-index: 250;

  button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    background-color: #7493bc;
    color: rgba(255, 255, 255, 0.8);
    span {
      display: none;
    }
    i {
      font-size: 20px;
      transform: rotate(-90deg);
    }
  }
}
.footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0 30px 0;
  .finfo {
    display: flex;
    flex-direction: column;
    .contact {
      font-size: 20px;
      color: #fff;
    }
    .fcnt {
      span {
        display: inline-block;
        margin: 10px 20px 0 0;
      }
    }
  }
  .copyright {
    p {
      margin: 20px 0;
      display: block;
      color: #666;
    }
  }
}
