@charset "UTF-8";
/* 모든 태그의 스타일 초기화 */
/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap");
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, ol, li, address, strong, span, em, p, i, dl, dt, dd, form, fieldset, legend, input, textarea, select, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
     padding을 줘도 width/height가 유지가 됨 */
}

/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
  font-style: normal;
}

/* 항목 앞에 동그라미 삭제 */
ul, ol, li {
  list-style: none;
}

/* form태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form, input, select, textarea, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /* 서체 상속 - button은 body에서 적용한 서체를 
     자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 태그의 legend은 타이틀로 숨김처리 */
}

button {
  background-color: transparent; /* 투명 */
  border: 0;
  cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}

table caption {
  display: none;
}

/* 글자를 두껍게 하는 태그는 모두 일반 두께로 변형 */
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 400;
}

/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
/* 본명조 */
html,
body {
  line-height: 1.5;
  font-family: "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /* 단어별 줄바꿈 */
}

#wrap {
  /* id="wrap" */
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}

@media screen and (max-width: 1000px) {
  html,
body {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  html,
body {
    font-size: 13px;
  }
} /* media 종료 */
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000000;
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #0059a8;
  color: #fff;
  text-align: center;
}

.skip_nav a:focus {
  top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}
::selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-webkit-selection {
  background: #96ee86;
  color: #3e3e3f;
}

.gridarea {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px calc(100vh - 100px);
  grid-template-areas: "header side" "visual side";
}
.gridarea .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridarea .header h1 > a {
  display: block;
  background-image: url(../images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 50px;
  font-size: 0;
  line-height: 0;
}
.gridarea .header .gnb {
  width: 100%;
  height: 100%;
}
.gridarea .header .gnb .gnb_open {
  display: none;
}
.gridarea .header .gnb > ul {
  padding: 0 0 0 10.2083vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.gridarea .header .gnb > ul > li {
  width: 100%;
  height: 100%;
  position: relative;
}
.gridarea .header .gnb > ul > li > a {
  height: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.gridarea .header .gnb > ul > li > ul {
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 360px;
  background-color: #fff;
  padding: 15px 0 0 0;
}
.gridarea .header .gnb > ul > li > ul > li > a {
  line-height: 2.6;
  text-align: center;
  font-size: 18px;
  display: block;
  padding: 0;
}
.gridarea .header .gnb.menu_open ul li ul, .gridarea .header .gnb:hover ul li ul {
  display: block;
}
.gridarea .visual {
  grid-area: visual;
}
.gridarea .visual video {
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(150%);
}
.gridarea aside {
  z-index: 1;
  grid-area: side;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0081cf;
  -webkit-animation: grid_area 1s forwards;
          animation: grid_area 1s forwards;
}
@-webkit-keyframes grid_area {
  from {
    opacity: 0;
    width: 200%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes grid_area {
  from {
    opacity: 0;
    width: 200%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
.gridarea aside .language > ul {
  display: flex;
  flex-direction: row;
}
.gridarea aside .language > ul > li {
  color: #999;
}
.gridarea aside .language > ul > li > a {
  display: block;
  padding: 30px 20px;
  font-size: 20px;
}
.gridarea aside .language > ul > li.active {
  color: #fff;
}
.gridarea aside h2 {
  font-size: 48px;
  padding: 0 0 45vh 0;
  color: #fff;
}
.gridarea aside h2 span {
  display: block;
  transition: 1s;
}
.gridarea aside h2 span:nth-child(1) {
  -webkit-animation: appear 1s forwards;
          animation: appear 1s forwards;
}
.gridarea aside h2 span:nth-child(2) {
  -webkit-animation: appear 2s forwards;
          animation: appear 2s forwards;
}
.gridarea aside h2 span:nth-child(3) {
  -webkit-animation: appear 4s forwards;
          animation: appear 4s forwards;
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  .gridarea {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-areas: "header side" "visual side";
  }
  .gridarea .header h1 a {
    display: block;
    background-image: url(../images/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 50px;
    font-size: 0;
    line-height: 0;
  }
  .gridarea .header .gnb {
    width: 100%;
    height: 100%;
  }
  .gridarea .header .gnb .gnb_open {
    display: none;
  }
  .gridarea .header .gnb > ul {
    padding: 0 0 0 6.2083vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .gridarea .header .gnb > ul > li {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .gridarea .header .gnb > ul > li > a {
    font-size: 20px;
    padding: 20px;
  }
  .gridarea .header .gnb > ul > li > ul {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 0 0 0;
  }
  .gridarea .header .gnb > ul > li > ul > li > a {
    font-size: 15px;
    display: block;
    padding: 0;
    line-height: 2.6;
  }
  .gridarea .visual {
    grid-area: visual;
  }
  .gridarea .visual video {
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(150%);
  }
  .gridarea aside {
    z-index: 1;
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0081cf;
    -webkit-animation: grid_area 1s forwards;
            animation: grid_area 1s forwards;
  }
  @-webkit-keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  .gridarea aside .language > ul {
    display: flex;
    flex-direction: row;
  }
  .gridarea aside .language > ul > li {
    color: #999;
  }
  .gridarea aside .language > ul > li > a {
    display: block;
    padding: 30px 20px;
    font-size: 18px;
  }
  .gridarea aside .language > ul > li.active {
    color: #fff;
  }
  .gridarea aside h2 {
    font-size: 38px;
    padding: 0 0 45vh 0;
    color: #fff;
  }
}
@media screen and (max-width: 1000px) {
  .gridarea .header h1 a {
    width: 150px;
    height: 37px;
  }
  .gridarea .header .gnb > ul {
    padding: 0 0 0 2.2083vw;
  }
  .gridarea .header .gnb > ul > li > a {
    font-size: 18px;
    padding: 10px;
  }
  .gridarea .header .gnb > ul > li > ul {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    padding: 15px 0 0 0;
  }
  .gridarea .header .gnb > ul > li > ul > li a {
    font-size: 15px;
    display: block;
    padding: 0;
    line-height: 2.6;
    padding: 0 0 0 15px;
  }
  .gridarea .visual {
    grid-area: visual;
  }
  .gridarea .visual video {
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(150%);
  }
  .gridarea aside {
    z-index: 1;
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0081cf;
    -webkit-animation: grid_area 1s forwards;
            animation: grid_area 1s forwards;
  }
  @-webkit-keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  .gridarea aside .language > ul {
    display: flex;
    flex-direction: row;
  }
  .gridarea aside .language > ul > li {
    color: #999;
  }
  .gridarea aside .language > ul > li > a {
    display: block;
    padding: 30px 10px;
    font-size: 16px;
  }
  .gridarea aside .language > ul > li.active {
    color: #fff;
  }
  .gridarea aside h2 {
    font-size: 25px;
    padding: 0 0 45vh 0;
    color: #fff;
  }
}
@media screen and (max-width: 640px) {
  .gridarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px calc(50vh - 60px);
    grid-template-areas: "header header" "visual visual";
  }
  .gridarea .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gridarea .header h1 > a {
    display: block;
    background-image: url(../images/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 37px;
    font-size: 0;
    line-height: 0;
  }
  .gridarea .header .gnb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .gridarea .header .gnb .gnb_open {
    display: block;
    padding: 0 10px 0 0;
  }
  .gridarea .header .gnb .gnb_open span {
    display: block;
    transition: 0.3s;
    width: 23px;
    height: 2px;
    margin-bottom: 6px;
    border-radius: 3px; /* 높이의 절반 */
    background-color: #666;
    font-size: 0;
    line-height: 0;
  }
  .gridarea .header .gnb > ul {
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 60px;
    width: 100%;
    height: 80vh;
    border-bottom: 0;
    z-index: 1;
    color: #3d3d3d;
    background-color: #fff;
  }
  .gridarea .header .gnb > ul > li {
    width: 100%;
    height: auto;
    position: relative;
  }
  .gridarea .header .gnb > ul > li a {
    height: 100%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .gridarea .header .gnb > ul > li > ul {
    display: none;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 15px 0 0 0;
  }
  .gridarea .header .gnb > ul > li > ul > li {
    height: auto;
  }
  .gridarea .header .gnb > ul > li > ul > li > a {
    font-size: 18px;
    display: block;
    padding: 0;
    line-height: 1.5;
  }
  .gridarea .header .gnb.menu_mobile span {
    background: #666;
  }
  .gridarea .header .gnb.menu_mobile span:nth-child(1) {
    -webkit-animation: menu_rotate 1s forwards;
            animation: menu_rotate 1s forwards;
  }
  .gridarea .header .gnb.menu_mobile span:nth-child(2) {
    opacity: 0;
  }
  .gridarea .header .gnb.menu_mobile span:nth-child(3) {
    -webkit-animation: menu_rotater 1s forwards;
            animation: menu_rotater 1s forwards;
  }
  @-webkit-keyframes menu_rotate {
    50% {
      transform: translate(0, 8px) rotate(180deg);
    }
    100% {
      transform: translate(0, 8px) rotate(45deg);
    }
  }
  @keyframes menu_rotate {
    50% {
      transform: translate(0, 8px) rotate(180deg);
    }
    100% {
      transform: translate(0, 8px) rotate(45deg);
    }
  }
  @-webkit-keyframes menu_rotater {
    50% {
      transform: translate(0, -8px) rotate(180deg);
    }
    100% {
      transform: translate(0, -8px) rotate(-45deg);
    }
  }
  @keyframes menu_rotater {
    50% {
      transform: translate(0, -8px) rotate(180deg);
    }
    100% {
      transform: translate(0, -8px) rotate(-45deg);
    }
  }
  .gridarea .header .gnb.menu_mobile > ul {
    display: block;
  }
  .gridarea .header .gnb.menu_mobile > ul > li {
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .gridarea .header .gnb.menu_mobile > ul > li > a {
    display: flex;
  }
  .gridarea .header .gnb.menu_mobile > ul > li > ul {
    display: none;
    height: auto;
    padding: 0;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    position: relative;
  }
  .gridarea .header .gnb.menu_mobile > ul > li > ul > li {
    height: auto;
    position: relative;
  }
  .gridarea .header .gnb.menu_mobile > ul > li > ul > li a {
    line-height: 2;
  }
  .gridarea .header .gnb.menu_mobile > ul > li > ul.sub_open {
    display: block;
  }
  .gridarea .visual {
    grid-area: visual;
  }
  .gridarea .visual video {
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(150%);
  }
  .gridarea aside {
    display: none;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0081cf;
    -webkit-animation: grid_area 1s forwards;
            animation: grid_area 1s forwards;
  }
  @-webkit-keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes grid_area {
    from {
      opacity: 0;
      width: 200%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
  .gridarea aside .language > ul {
    display: none;
    flex-direction: row;
  }
  .gridarea aside .language > ul > li {
    color: #999;
  }
  .gridarea aside .language > ul > li a {
    display: block;
    padding: 30px 20px;
    font-size: 20px;
  }
  .gridarea aside .language > ul > li.active {
    color: #fff;
  }
  .gridarea aside h2 {
    font-size: 48px;
    padding: 0 0 45vh 0;
    color: #fff;
  }
  .gridarea aside h2 span {
    display: block;
    transition: 1s;
  }
  .gridarea aside h2 span:nth-child(1) {
    -webkit-animation: appear 1s forwards;
            animation: appear 1s forwards;
  }
  .gridarea aside h2 span:nth-child(2) {
    -webkit-animation: appear 2s forwards;
            animation: appear 2s forwards;
  }
  .gridarea aside h2 span:nth-child(3) {
    -webkit-animation: appear 4s forwards;
            animation: appear 4s forwards;
  }
  @-webkit-keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.biz {
  padding: 90px 0;
}
.biz .cnt_wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "list focus";
}
.biz .cnt_wrap .list > ul {
  height: 530px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.biz .cnt_wrap .list > ul > li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.biz .cnt_wrap .list > ul > li:hover {
  border-bottom: 1px solid #fb4b7f;
}
.biz .cnt_wrap .list > ul > li > a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
}
.biz .cnt_wrap .focus > ul {
  margin: 0 0 0 20px;
}
.biz .cnt_wrap .focus > ul > li {
  display: none;
}
.biz .cnt_wrap .focus > ul > li.show {
  display: flex;
}
.biz .cnt_wrap .focus > ul > li > .pic > img {
  width: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 40px 0 40px;
}
.biz .cnt_wrap .focus > ul > li .txt {
  padding: 0 0 0 70px;
}
.biz .cnt_wrap .focus > ul > li .txt strong {
  color: #0095d0;
  font-size: 20px;
}
.biz .cnt_wrap .focus > ul > li .txt h2 {
  font-size: 60px;
  margin: 60px 0 20px 0;
  white-space: nowrap;
}
.biz .cnt_wrap .focus > ul > li .txt .more {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  padding: 10px;
}
.biz .cnt_wrap .focus > ul > li .txt .more .material-symbols-outlined {
  margin: 0 0 0 10px;
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  .biz .cnt_wrap .list > ul {
    height: 460px;
  }
  .biz .cnt_wrap .focus > ul {
    margin: 0;
  }
  .biz .cnt_wrap .focus > ul > li > .pic > img {
    width: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .biz .cnt_wrap .list > ul {
    height: 350px;
  }
  .biz .cnt_wrap .list > ul > li > a {
    padding: 15px 0;
    font-size: 15px;
  }
  .biz .cnt_wrap .focus > ul > li > .pic > img {
    width: 380px;
  }
  .biz .cnt_wrap .focus > ul > li .txt {
    padding: 0 0 0 10px;
  }
  .biz .cnt_wrap .focus > ul > li .txt h2 {
    font-size: 30px;
    margin: 20px 0 20px 0;
  }
  .biz .cnt_wrap .focus > ul > li .txt .more {
    margin: 20px 0 0 0;
    padding: 10px;
  }
  .biz .cnt_wrap .focus > ul > li .txt .more .material-symbols-outlined {
    margin: 0 0 0 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  .biz {
    padding: 60px 0;
  }
  .biz .cnt_wrap .list > ul {
    height: 258px;
  }
  .biz .cnt_wrap .list > ul > li > a {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
  }
  .biz .cnt_wrap .focus > ul {
    margin: 0 0 0 5px;
  }
  .biz .cnt_wrap .focus > ul > li {
    position: relative;
    width: 280px;
  }
  .biz .cnt_wrap .focus > ul > li.show {
    display: block;
  }
  .biz .cnt_wrap .focus > ul > li > .pic > img {
    width: 280px;
    filter: brightness(0.3);
    border-radius: 0 20px 0 20px;
  }
  .biz .cnt_wrap .focus > ul > li .txt {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 20px 10px;
  }
  .biz .cnt_wrap .focus > ul > li .txt strong {
    color: #fff;
    font-size: 13px;
  }
  .biz .cnt_wrap .focus > ul > li .txt h2 {
    font-size: 35px;
    margin: 20px 0 40px 0;
  }
  .biz .cnt_wrap .focus > ul > li .txt p {
    display: none;
  }
  .biz .cnt_wrap .focus > ul > li .txt .more {
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .biz .cnt_wrap .focus > ul > li .txt .more .material-symbols-outlined {
    margin: 0 0 0 10px;
    font-size: 15px;
  }
}
.service {
  background-color: #002767;
  color: #fff;
}
.service .gridwrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "customer" "prize";
}
.service .gridwrapper .customer {
  grid-area: customer;
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.service .gridwrapper .customer h2 {
  padding: 50px 0 0 0;
  font-size: 60px;
}
.service .gridwrapper .customer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.service .gridwrapper .customer ul li {
  background-color: #fff;
  color: #3d3d3d;
  margin: 0 0 0 40px;
  height: 200px;
  width: 320px;
}
.service .gridwrapper .customer ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service .gridwrapper .customer ul li a span {
  font-size: 30px;
}
.service .gridwrapper .prize {
  grid-area: prize;
}
.service .gridwrapper .prize ul {
  display: flex;
}
.service .gridwrapper .prize ul li {
  height: 80%;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service .gridwrapper .prize ul li:first-child {
  background-image: url(../images/service01.png);
}
.service .gridwrapper .prize ul li:last-child {
  background-image: url(../images/service02.png);
}
.service .gridwrapper .prize ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px 0 0 40px;
}
.service .gridwrapper .prize ul li a strong {
  font-size: 40px;
}
.service .gridwrapper .prize ul li a .more {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  padding: 10px;
}
.service .gridwrapper .prize ul li a .more .material-symbols-outlined {
  margin: 0 0 0 10px;
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  .service .gridwrapper .customer h2 {
    padding: 50px 0 0 0;
    font-size: 50px;
  }
  .service .gridwrapper .customer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .service .gridwrapper .customer ul li {
    background-color: #fff;
    color: #3d3d3d;
    margin: 0 0 0 40px;
    height: 180px;
    width: 220px;
  }
  .service .gridwrapper .customer ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service .gridwrapper .customer ul li a span {
    font-size: 30px;
  }
  .service .gridwrapper .prize {
    grid-area: prize;
  }
  .service .gridwrapper .prize ul {
    display: flex;
  }
  .service .gridwrapper .prize ul li {
    height: 80%;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service .gridwrapper .prize ul li:first-child {
    background-image: url(../images/service01.png);
  }
  .service .gridwrapper .prize ul li:last-child {
    background-image: url(../images/service02.png);
  }
  .service .gridwrapper .prize ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 0 0 40px;
  }
  .service .gridwrapper .prize ul li a strong {
    font-size: 40px;
  }
  .service .gridwrapper .prize ul li a .more {
    margin: 80px 0 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .service .gridwrapper .prize ul li a .more .material-symbols-outlined {
    margin: 0 0 0 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .service .gridwrapper .customer h2 {
    padding: 60px 0 0 0;
    font-size: 40px;
  }
  .service .gridwrapper .customer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .service .gridwrapper .customer ul li {
    background-color: #fff;
    color: #3d3d3d;
    margin: 0 0 0 40px;
    height: 150px;
    width: 120px;
  }
  .service .gridwrapper .customer ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service .gridwrapper .customer ul li a span {
    font-size: 20px;
  }
  .service .gridwrapper .prize {
    grid-area: prize;
  }
  .service .gridwrapper .prize ul {
    display: flex;
  }
  .service .gridwrapper .prize ul li {
    height: 80%;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service .gridwrapper .prize ul li:first-child {
    background-image: url(../images/service01.png);
  }
  .service .gridwrapper .prize ul li:last-child {
    background-image: url(../images/service02.png);
  }
  .service .gridwrapper .prize ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 0 0 40px;
  }
  .service .gridwrapper .prize ul li a strong {
    font-size: 25px;
  }
  .service .gridwrapper .prize ul li a .more {
    margin: 80px 0 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .service .gridwrapper .prize ul li a .more .material-symbols-outlined {
    margin: 0 0 0 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  .service {
    padding: 40px 0 50px 0;
    background-color: #002767;
    color: #fff;
  }
  .service .gridwrapper {
    display: block;
  }
  .service .gridwrapper .customer {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
  }
  .service .gridwrapper .customer h2 {
    padding: 0;
    font-size: 30px;
  }
  .service .gridwrapper .customer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .service .gridwrapper .customer ul li {
    background-color: #fff;
    color: #3d3d3d;
    margin: 0;
    height: 100px;
    width: 100px;
  }
  .service .gridwrapper .customer ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service .gridwrapper .customer ul li a img {
    width: 25px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service .gridwrapper .customer ul li a span {
    font-size: 20px;
  }
  .service .gridwrapper .prize ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0 0 20px;
  }
  .service .gridwrapper .prize ul li a strong {
    font-size: 20px;
  }
  .service .gridwrapper .prize ul li a .more {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .service .gridwrapper .prize ul li a .more .material-symbols-outlined {
    margin: 0 0 0 10px;
    font-size: 15px;
  }
}
.manage {
  background-color: #dbf2ff;
  position: relative;
  padding: 0 0 30px 0;
}
.manage h2 {
  padding: 100px 0 80px 0;
  font-size: 60px;
}
.manage p {
  margin: 0 0 20px 60%;
}
.manage p.tit {
  font-size: 40px;
}
.manage .bg_txt {
  color: rgba(188, 188, 188, 0.1);
  font-size: 200px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: bg_txt_ani 45s;
          animation: bg_txt_ani 45s;
}
@-webkit-keyframes bg_txt_ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.3%);
  }
}
@keyframes bg_txt_ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.3%);
  }
}

@media screen and (max-width: 1400px) {
  .manage {
    position: relative;
  }
  .manage h2 {
    padding: 100px 0 80px 100px;
    font-size: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .manage p {
    margin: 0 0 20px 50%;
  }
  .manage p.tit {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .manage {
    text-align: center;
  }
  .manage h2 {
    padding: 50px 0 20px 0;
    font-size: 30px;
  }
  .manage p {
    margin: 10px 0 0 0;
  }
  .manage p.tit {
    font-size: 20px;
  }
  .manage .bg_txt {
    font-size: 100px;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: bg_txt_ani 50s;
            animation: bg_txt_ani 50s;
  }
  @-webkit-keyframes bg_txt_ani {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50.3%);
    }
  }
  @keyframes bg_txt_ani {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50.3%);
    }
  }
}
aside.top {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 95px;
  bottom: 95px;
  z-index: 250;
}
aside.top button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  background-color: #0bb7f8;
  color: rgba(255, 255, 255, 0.8);
}
aside.top button span {
  display: none;
}
aside.top button i {
  font-size: 20px;
  transform: rotate(-90deg);
}

.footer {
  height: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0 30px 0;
}
.footer .finfo {
  display: flex;
  flex-direction: column;
}
.footer .finfo .contact {
  font-size: 40px;
}
.footer .finfo .fcnt span {
  display: inline-block;
  margin: 10px 20px 0 0;
}
.footer .copyright p {
  display: block;
  color: #666;
}