@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body, section, p, div, ul, li, h1 { 
    /* body, section 등의 모든 태그의 모든 여백 삭제 */
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none; /* ul태그 앞에 동그라미 삭제 */
}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
body {
    min-width: 1200px;/*wrapper에서 준 넓이를 body한테 최소넓이로줌*/
    color:#3d3d3d;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
h1{
    color: #1D1D1D;
    font-size: 30px;
}
strong{
    color: #07B53B;
    font-size: 20px;
}
body section h1{
    margin: 60px 0 20px 0;
}
body section p{
    margin: 15px 0 20px 0;
}
body section ul li{
    float: left;
    padding: 9px 43px ;
    border: 1px solid #666666;
    margin: 0 5px 0 0;
}
body ul li.down{
    color: #07B53B;
    border: 1px solid #07B53B
}
body section.global img{
    margin: 41px 0 0 0;
}
body section.stickers{
    background-image: url(../images/stickers01.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 598px;
}
body section.stickers h1{
    color: #ffffff;
    text-align: center;
    padding: 60px 0 20px 0;
}
body section.stickers p{
    color: #ffffff;
    text-align: center;
}
body section.stickers a{
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 9px 43px;
    margin: 0 0 0 549px
}
body section.stickers img{
    margin: 40px 0 70px 0;
}
