@charset "UTF-8";
/* 모든 태그의 스타일 초기화 */

/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, ol, li, address, strong, span, em, p, i, dl, dt, dd, form, fieldset, legend, input, textarea, select, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
       padding을 줘도 width/height가 유지가 됨 */
}
/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
    color: inherit; 
    text-decoration: none;
}
/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
    font-style: normal;
}
/* 항목 앞에 동그라미 삭제 */
ul, ol, li {
    list-style: none;
}
/* form태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form, input, select, textarea, button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    /* 서체 상속 - button은 body에서 적용한 서체를 
       자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}
fieldset {
    border: 0;
}
legend {
    display: none; /* form 태그의 legend은 타이틀로 숨김처리 */
}
button {
    background-color: transparent; /* 투명 */
    border: 0;    
    cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}
table caption {
    display: none;
}
/* 글자를 두껍게 하는 태그는 모두 일반 두께로 변형 */
h1, h2, h3, h4, h5, h6, strong, th {
    font-weight: 400;
}