@import url(default.css);
@import url(common.css);
.visual h2 {
  position: absolute;
  z-index: 12;
  left: 16%;
  top: 40%;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.visual h2.none {
  display: none;
}

.visual video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
.visual .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 11;
}
@media screen and (max-width: 640px) {
  .fp-responsive .fp-is-overflow.fp-section {
    min-height: auto !important;
  }

  .visual .inner {
    height: 330px;
  }
  .visual h2 {
    position: absolute;
    z-index: 12;
    left: 16%;
    top: 40%;
    font-size: 35px;
  }
  .visual h2.none {
    display: none;
  }

  .visual video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .visual .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 11;
  }
}
.count {
  background-color: #926d49;
}
.bg {
}
.news {
  background-color: #fdf0f0;
}
.support {
}
.footer {
}
/* fullpage copyright */
.fp-watermark {
  display: none;
}
