/*main.css에 default.css 호출*/
@import url(default.css);
.category .tit{
    color: #1d1d1d;
    margin: 0 0 38px 0;
}
.category .tit strong{
    font-weight: 700;
    padding: 101px 0 7px 0;
    display: block;
}
.category .tit h2{
    font-weight: 300;
    font-size: 50px;
}
.category ul li{
    float: left;
    width: 240px;
    margin: 0 20px 0 0;
}
.category ul li:last-child{
    margin: 0;
}
.category ul li a{
    display: block;
}
.category ul li img{
    width: 100%;
    border: 1px solid #ededed;
    box-sizing: border-box;
}
.category ul li strong{
    display: block;
    color: #1d1d1d;
    margin: 26px 0 0 0;
}
@media screen and (max-width:450px){
    .category .tit strong{
        padding: 30px 0 7px 0;
    }
    .category .tit h2{
        font-size: 30px;
    }
    .category ul li{
        width: 48%;
        margin: 0 4% 0 0;
    }
    .category ul li:nth-child(2), .category ul li:nth-child(4){
        margin-right: 0;
    }
    .category ul li:last-child{
        display: none;
    }
    .category ul li a{
        display: block;
    }
    .category ul li img{
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }
    .category ul li strong{
        display: block;
        color: #1d1d1d;
        margin: 5px 0 0 0;
    }
}
.network{
    height: 700px;
    margin: 128px 0 0 0;
    background-image: url(../images/network.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.network h2{
    padding: 191px 0 0 0 ;
    font-size: 30px;
    font-weight: 700;
}
.network p{
    margin: 22px 0 51px 0;
}
.network a{
    display: block;
    float: left;/*a사이의 여백없이 나란히 배치*/
    padding: 17px 14px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.network a:last-child{
    padding: 17px 29px;
}
@media screen and (max-width:450px){
    .network{
        height: auto;
        padding: 0 0 90px 0;
        margin: 20px 0 0 0;
    }
    .network h2{
        padding: 150px 0 0 0 ;
        font-size: 20px;
    }
    .network p{
        margin: 15px 0 25px 0;
    }
    .network a{
        padding: 10x 5px;
        margin: 0 10px 0 0;
    }
    .network a:last-child{
        padding: 17px 29px;
    }
}