@font-face {
	font-family: 'EY';/*body에서 font-family로 서체를 부를이름(마음대로지어도됨)*/
	font-style: normal;
	font-weight: 400;/*폰트별 두께 숫자*/
    src: url(../fonts/Eulyoo1945-Regular.eot);
	src: url(../fonts/Eulyoo1945-Regular.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/Eulyoo1945-Regular.woff2) format('woff2'),
	     url(../fonts/Eulyoo1945-Regular.woff) format('woff');
}
@font-face {
	font-family: 'EY';
	font-style: bold;
	font-weight: 700;
    src: url(../fonts/Eulyoo1945-SemiBold);
	src: url(../fonts/Eulyoo1945-SemiBold.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/Eulyoo1945-SemiBold.woff2) format('woff2'),
	     url(../fonts/Eulyoo1945-SemiBold.woff) format('woff');
}