@import url('default.css');
header{
    position: absolute;/*body를 기준으로 정렬*/
    width: 100%;/*position:absolute를 주면 inline-block처럼 내부에
    콘텐츠가 존재하는 만큼의 넓이만 갖는다*/
    left: 0;
    top: 0;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

header h1 a{
    margin: 30px 0 225px 0;
    float: left;
    background: url(../images/logo_w.svg) no-repeat center center / 100%
    /*로고를 영역에 꽉차게 하기위해서 size를 넓이 100%(높이는 비율에맞게 알아서)(cover는배경을 영역에 빈틈없이 메꾸는것이기때문에 로고가짤림)*/;
    width: 234px;
    height: 41px;
    font-size: 0;/*글자 사라지게 하기위해*/
    line-height: 0;
    margin-right: 225px;
}
header .gnb{
    float: left;
}
header .gnb button{
    display: none;/*모바일에서만표시-메뉴버튼*/
}
header .gnb ul li{
    margin-top: 15px;
    float: left;
    font-size: 25px;
}
header .gnb ul li a{
    display: block;
    padding: 15px 20px;
}
header .tnb{
    float: right;
}
header .tnb ul li{
    float: left;
    margin: 20px 0 0 33px;
}
header .tnb ul li button{
    padding: 10px;
}
header .tnb ul li button span{
    display: none;/*접근성때문에 쓴 텍스트 숨김*/
}
header .tnb ul li button i{
    font-size: 40px;
}
@media screen and (max-width:640px){
    header{
        height: 45px;
        z-index: 100;
    }
    header h1 a{
        margin: 11px 0 0 0;
        width: 80px;
        height: 20px;
    }
    header .gnb{
       float: right;
       margin: 12px 0 0 8px;
    }
    /*float:right를 먼저 선언한곳이 가장오른쪽*/
    header .gnb button{
        display: block;/*모바일에서만표시-메뉴버튼*/
    }
    header .gnb button span{
        display: none;
    }
    header .gnb button span i{
        font-size: 24px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.8);
    }
    header .gnb ul{
        display: none;
    }
    header .tnb{
        margin: 9px 0 0 0;
    }
    header .tnb ul li{
        float: left;
        margin: 4px 0 0 0;
    }
    header .tnb ul li.mypage{
        display: none;
    }
    header .tnb ul li button{
        padding: 0;

    }
    header .tnb ul li button span{
        display: none;/*접근성때문에 쓴 텍스트 숨김*/
    }
    header .tnb ul li button i{
        font-size: 24px;
        font-weight: 300;
    }
}/*media종료*/

.visual{
    height: 800px;
    background: url(../images/visual_bg.png) no-repeat center center /cover;
    color: #fff;
    text-align: center;
}
.visual h2{
    font-size: 40px;
    font-weight: 400;
    padding: 320px 0 25px 0;
}
.visual p{
    font-size: 20px;
}
.visual .txt_mobile{
    display: none;/*모바일에서만 보일글자*/
}
@media screen and (max-width:640px){
    .visual{
        height: auto;
        padding-bottom: 113px;
    }
    .visual h2{
        font-size: 25px;
        padding: 79px 0 20px 0;
    }
    .visual h2 span{
        display: block;
    }
    .visual p{
        font-size: 13px;
    }
    .visual .txt_pc{
        display: none;/*pc에서만보일글자*/
    }
    .visual .txt_mobile{
        display: block;/*모바일에서만 보일글자*/
    }
}/*media종료*/
.book{
    margin: 112px 0 98px 0;
}
.book .tit{
    float: left;
}
/*컨텐츠 영역 밖으로 나가는 리스트 -스크롤(모바일)
    1.ul을 감싸는 div가 있어야함
    2.ul을 감싸는 div는 overflow:auto 여야함(모바일)
    3.ul은 li전체의 널이를 가져야함
    4.ul은 position:absoluet(모바일)*/
.book .tit h2{
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0 0 0;
}
.book .tit button{
    float: left;
    margin: 30px 0 0 0;
    width: 40px;
    height: 35px;
    border: 1px solid #666;
}
.book .tit button i{
    margin: 5px 0 0 5px;
    font-size: 24px;
    font-weight: 300;
}
.book .tit button span{
    display: none;
}
.book .list{
    margin-left: 330px;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100%+20px);
    padding: 10px 0;
}
/*왼쪽요소는 float:left를 줌
오른쪽요소는 margin-left로 왼쪽요소의 넓이만큼을 여백으로준다
오른쪽 요소는 block
오른쪽 요소가 왼쪽요소를 인지하지 못하고 위로 올라옴*/
.book .list ul{
    width: 1980px;/*1940px+40px*/
}
.book .list ul li{
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.book .list ul li:last-child{
    margin-right: 0;
}
.book .list ul li img{
    display: block;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2);
}
.book .list ul li a .subject{
    margin: 20px 0 0 0;
    display: block;
    font-size: 20px;
    font-weight: 400;
    /*한줄로표시*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .writer{
    display: block;
    color: #666;
    margin: 9px 0 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a  .cnt{
    display: block;
    /*세줄로 표시*/
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
}
@media screen and (max-width:640px){
    .book{
        margin: 40px 0 40px 0;
    }
    .book .tit{
        float: none;
        margin-bottom: 0;
    }
    /*컨텐츠 영역 밖으로 나가는 리스트 -스크롤(모바일)
        1.ul을 감싸는 div가 있어야함
        2.ul을 감싸는 div는 overflow:auto 여야함(모바일)
        3.ul은 li전체의 널이를 가져야함
        4.ul은 position:absoluet(모바일)*/
    .book .tit h2{
        float: left;
        font-size: 25px;
        margin: 0;
    }
    .book .tit p{
        display: none;
    }
    .book .tit .btn{
        float: right;
    }
    .book .tit button{
        margin: 5px 0 0 0;
        width: 25px;
        height: 25px;
    }
    .book .tit button i{
        margin: 4px 0 0 5px;
        font-size: 16px;
        font-weight: 300;
    }
    .book .list{

        margin-left: 0;
    }
    /*왼쪽요소는 float:left를 줌
    오른쪽요소는 margin-left로 왼쪽요소의 넓이만큼을 여백으로준다
    오른쪽 요소는 block
    오른쪽 요소가 왼쪽요소를 인지하지 못하고 위로 올라옴*/
    .book .list ul{
        width: 980px;
    }
    .book .list ul li{
        width: 155px;
        margin: 0 10px 0 0;
    }
    .book .list ul li img{
        width: 100%;
    }
    .book .list ul li a .subject{
        margin: 15px 0 9px 0;
        font-size: 18px;
    }
    .book .list ul li a .writer{
        display: block;
        color: #666;
        margin: 0;
        /*1줄에서 여러줄로 바꿀때
        white-space:normal 로 풀어줌*/
    }
    .book .list ul li a .cnt{
        display: none;
        margin: 0;
    }
}/*media종료*/