/* 컨텐츠페이즈 디자인 */

/* 소개의장|인사말 */
.cnt_greeting {
  margin: 0 0 80px 0;
}
.cnt_greeting .tit {
  font-size: 20px;
  text-align: center;
  margin: 0 0 70px 0;
}
.cnt_greeting .tit strong {
  color: #0095cd;
  font-weight: 700;
}

.cnt_greeting .bg {
  position: relative;
  width: calc(50% + 700px);
  left: calc(50% - 700px);
  height: 350px;
  background-repeat: no-repeat;
  background-position: center top 15%;
  background-size: cover;
  background-image: url(../images/contents/greeting_img1.png);
}

.cnt_greeting p {
  text-align: justify;
  word-break: normal;
}
.cnt_greeting .txt_wrap {
  margin: 50px 0 0 0;
}
.cnt_greeting .txt_wrap .colgroup1 {
  float: left;
  margin: 0 80px 0 0;
  width: 667px;
}
.cnt_greeting .txt_wrap .colgroup2 {
  float: right;
  width: 650px;
}
.cnt_greeting .txt_wrap .sign {
  font-size: 18px;
  font-weight: 700;
  margin: 42px 0 0 0;
}
@media screen and (max-width: 640px) {
  .cnt_greeting {
    margin: 0 0 30px 0;
  }
  .cnt_greeting .tit {
    font-size: 15px;
    margin: 0 0 30px 0;
  }

  .cnt_greeting .bg {
    position: relative;
    width: 100%;
    left: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/contents/greeting_img1.png);
  }
  .cnt_greeting p {
    text-align: left;
    word-break: keep-all;
  }
  .cnt_greeting .txt_wrap {
    margin: 50px 0 0 0;
  }
  .cnt_greeting .txt_wrap .colgroup1 {
    float: none;
    margin: 0;
    width: auto;
  }
  .cnt_greeting .txt_wrap .colgroup2 {
    float: none;
    width: auto;
  }
  .cnt_greeting .txt_wrap .sign {
    font-size: 18px;
    font-weight: 700;
    margin: 42px 0 0 0;
  }
}
.cnt_org {
  margin: 0 0 100px 0;
}

/* 통합검색 | 해양학술정보DB센터 | 한국해양재단 */
.cnt_search {
  margin: 0 0 100px 0;
}

.cnt_search ul li a {
  display: block;
}
.cnt_search ul li a h3 {
  color: #0057c1;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
}
.cnt_search ul li a p {
  margin: 5px 0 15px 0;
}
.cnt_search ul li a span {
  display: block;
  color: #666;
}
/* float코딩 */

/* .cnt_search ul li {
  float: left;
  width: 25%;
  height: 300px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #ccc;
}
.cnt_search ul li:first-child {
  border-left-width: 1px;
}
.cnt_search ul li a {
  padding: 70px 0 0 30px;
} */

/* table코딩 */

.cnt_search ul {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.cnt_search ul li {
  display: table-cell;
  width: 25%;
  border: 1px solid #ccc;
  height: 300px;
  vertical-align: middle;
}
.cnt_search ul li a {
  padding: 0 0 0 30px;
}
