* {
  text-decoration: none;
  margin: 0 auto;
}
nav {
  padding: 5rem;
  display: flex;
  justify-content: center;
  width: 40rem;
  font-size: 2rem;
}
nav a {
  margin: 0 20px;
}
#horizontal-underline {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 3px;
  transition: 0.5s;
  background-color: pink;
  top: 0;
}
