@mixin title_style($font_color: #3d3d3d) {
  font-weight: 700;
  line-height: 1.2;
  font-size: 88px;
  color: $font_color;
}
@mixin mobile_style($font_color: #3d3d3d) {
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  color: $font_color;
}
@mixin zindex_top {
  position: relative;
  z-index: 10;
}
@mixin clearfix {
  display: block;
  &::after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
  }
}
