@import "_default.scss";
@import "_common.scss";
@import "_var.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #2f4858;
  h1 {
    font-size: 0;
    line-height: 0;
    width: 302px;
    height: 100%;
    margin: 0 0 0 30px;
    a {
      display: block;

      height: 100%;
      background: url(../images/logo.svg) no-repeat center center / contain;
    }
  }
  .gnb {
    ul {
      display: flex;
      li {
        &:last-child {
          margin: 0 40px 0 0;
        }
        a {
          font-size: 25px;
          padding: 20px 40px;
          color: #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .header {
    h1 {
      width: 202px;
      margin: 0 0 0 20px;
      a {
      }
    }
    .gnb {
      ul {
        li {
          &:last-child {
            margin: 0 20px 0 0;
          }
          a {
            font-size: 20px;
            padding: 20px 30px;
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
}
.visual {
  .bg {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    top: 0;
    background-color: #2f4858;
    z-index: 10;
    .visual_txt {
      color: #fff;
      position: absolute;
      left: 1vw;
      top: 200px;
      z-index: 15;
      overflow: visible;
      h2 {
        @include title_style;
        color: #fff;
      }
      .eng {
        font-size: 30px;
        margin: 10px 0 30px 0;
        position: relative;
        &::after {
          position: absolute;
          width: 550px;
          height: 1px;
          content: "";
          background-color: #fff;
          left: 0;
          bottom: -10px;
        }
      }
    }
    .popup {
      ul {
        li {
          img {
          }
        }
      }
      .btn_stop {
        color: #999;
      }
    }
  }
}
.theliter {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .txt {
      h2 {
        @include title_style;
      }
      a {
        display: block;
        padding: 0 100px 0 0;
        span {
          font-size: 80px;
          color: #3d3d3d;
          transform: rotate(-45deg);
          transition: 0.3s;
        }
        &:hover {
          span {
            transform: rotate(0);
          }
        }
      }
    }
    .img {
      width: 600px;
      height: 600px;
      border: 1px solid #3d3d3d;
      background-color: #fff;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h3 {
        font-size: 50px;
        font-weight: 700;
      }
    }
  }
}
.menu {
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    grid-template-areas: "left right";

    height: 100vh;
    width: 100%;

    .left {
      grid-area: left;
      width: 100%;
      background-image: url(../images/menu_left_01.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding: 130px 0 0 40px;
      position: relative;
      &.signature {
        background-image: url(../images/menu_left_01.png);
      }
      &.beverage {
        background-image: url(../images/menu_left_02.png);
      }
      &.coffee {
        background-image: url(../images/menu_left_03.png);
      }
      &.cookie {
        background-image: url(../images/menu_left_04.png);
      }
      h2 {
        @include title_style;
        color: #fff;
      }
      .bg {
        position: absolute;
        background-image: url(../images/menu01_01.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        content: "";
        right: -250px;
        top: calc(50% - 250px);
        width: 500px;
        height: 500px;
        &.signature {
          background-image: url(../images/menu01_01.png);
        }
        &.beverage {
          background-image: url(../images/menu01_02.png);
        }
        &.coffee {
          background-image: url(../images/menu01_03.png);
        }
        &.cookie {
          background-image: url(../images/menu01_04.png);
        }
      }
      ul {
        padding: 0 0 0 10px;
        li {
          font-size: 24px;
          line-height: 57px;

          &.actived {
            display: inline;
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}
.right {
  grid-area: right;
  .bg {
    background-image: url(../images/menu01_right.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    &.signature {
      background-image: url(../images/menu01_right.png);
    }
    &.beverage {
      background-image: url(../images/menu02_right.png);
    }
    &.coffee {
      background-image: url(../images/menu03_right.png);
    }
    &.cookie {
      background-image: url(../images/menu04_right.png);
    }
  }
}
