@charset "UTF-8";
/* 모든 태그의 스타일 초기화 */
/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body,
header,
footer,
div,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
ul,
ol,
li,
address,
strong,
span,
em,
p,
i,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
table,
caption,
colgroup,
col,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
       padding을 줘도 width/height가 유지가 됨 */
}

/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em,
address {
  font-style: normal;
}

/* 항목 앞에 동그라미 삭제 */
ul,
ol,
li {
  list-style: none;
}

/* form태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form,
input,
select,
textarea,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /* 서체 상속 - button은 body에서 적용한 서체를 
       자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 태그의 legend은 타이틀로 숨김처리 */
}

button {
  background-color: transparent; /* 투명 */
  border: 0;
  cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}

table caption {
  display: none;
}

/* 글자를 두껍게 하는 태그는 모두 일반 두께로 변형 */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 400;
}

/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@font-face {
  font-family: "Binggrae";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Binggrae";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.ttf") format("truetype");
  font-display: swap;
}
html,
body {
  line-height: 1.5;
  font-family: "Binggrae", "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  font-size: 20px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /* 단어별 줄바꿈 */
  background-color: #f6f6f6;
}

#wrap {
  /* id="wrap" */
  overflow: hidden;
  position: relative;
  min-width: 360px;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
  width: 100%;
  max-width: 1740px;
  padding: 0 20px;
  margin: 0 auto;
  /* 1700px 이하부터 360px까지 모든 사이즈 반응형 
       1700px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1700px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1740px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}

@media screen and (max-width: 1000px) {
  html,
body {
    font-size: 15px;
  }
} /* media 종료 */
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000000;
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #0059a8;
  color: #fff;
  text-align: center;
}

.skip_nav a:focus {
  top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}
::selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-webkit-selection {
  background: #96ee86;
  color: #3e3e3f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #2f4858;
}
.header h1 {
  font-size: 0;
  line-height: 0;
  width: 302px;
  height: 100%;
  margin: 0 0 0 30px;
}
.header h1 a {
  display: block;
  height: 100%;
  background: url(../images/logo.svg) no-repeat center center/contain;
}
.header .gnb ul {
  display: flex;
}
.header .gnb ul li:last-child {
  margin: 0 40px 0 0;
}
.header .gnb ul li a {
  font-size: 25px;
  padding: 20px 40px;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .header h1 {
    width: 202px;
    margin: 0 0 0 20px;
  }
  .header .gnb ul li:last-child {
    margin: 0 20px 0 0;
  }
  .header .gnb ul li a {
    font-size: 20px;
    padding: 20px 30px;
    color: #fff;
  }
}
.visual .bg {
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
  background-color: #2f4858;
  z-index: 10;
}
.visual .bg .visual_txt {
  color: #fff;
  position: absolute;
  left: 1vw;
  top: 200px;
  z-index: 15;
  overflow: visible;
}
.visual .bg .visual_txt h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
  color: #fff;
}
.visual .bg .visual_txt .eng {
  font-size: 30px;
  margin: 10px 0 30px 0;
  position: relative;
}
.visual .bg .visual_txt .eng::after {
  position: absolute;
  width: 550px;
  height: 1px;
  content: "";
  background-color: #fff;
  left: 0;
  bottom: -10px;
}
.visual .bg .popup .btn_stop {
  color: #999;
}

.theliter .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theliter .inner .txt h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
}
.theliter .inner .txt a {
  display: block;
  padding: 0 100px 0 0;
}
.theliter .inner .txt a span {
  font-size: 80px;
  color: #3d3d3d;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.theliter .inner .txt a:hover span {
  transform: rotate(0);
}
.theliter .inner .img {
  width: 600px;
  height: 600px;
  border: 1px solid #3d3d3d;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.theliter .inner .img h3 {
  font-size: 50px;
  font-weight: 700;
}

.menu .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  grid-template-areas: "left right";
  height: 100vh;
  width: 100%;
}
.menu .inner .left {
  grid-area: left;
  width: 100%;
  background-image: url(../images/menu_left_01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 130px 0 0 40px;
  position: relative;
}
.menu .inner .left.signature {
  background-image: url(../images/menu_left_01.png);
}
.menu .inner .left.beverage {
  background-image: url(../images/menu_left_02.png);
}
.menu .inner .left.coffee {
  background-image: url(../images/menu_left_03.png);
}
.menu .inner .left.cookie {
  background-image: url(../images/menu_left_04.png);
}
.menu .inner .left h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
  color: #fff;
}
.menu .inner .left .bg {
  position: absolute;
  background-image: url(../images/menu01_01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  right: -250px;
  top: calc(50% - 250px);
  width: 500px;
  height: 500px;
}
.menu .inner .left .bg.signature {
  background-image: url(../images/menu01_01.png);
}
.menu .inner .left .bg.beverage {
  background-image: url(../images/menu01_02.png);
}
.menu .inner .left .bg.coffee {
  background-image: url(../images/menu01_03.png);
}
.menu .inner .left .bg.cookie {
  background-image: url(../images/menu01_04.png);
}
.menu .inner .left ul {
  padding: 0 0 0 10px;
}
.menu .inner .left ul li {
  font-size: 24px;
  line-height: 57px;
}
.menu .inner .left ul li.actived {
  display: inline;
  border-bottom: 2px solid #fff;
}

.right {
  grid-area: right;
}
.right .bg {
  background-image: url(../images/menu01_right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.right .bg.signature {
  background-image: url(../images/menu01_right.png);
}
.right .bg.beverage {
  background-image: url(../images/menu02_right.png);
}
.right .bg.coffee {
  background-image: url(../images/menu03_right.png);
}
.right .bg.cookie {
  background-image: url(../images/menu04_right.png);
}