@charset "UTF-8";
/* 모든 태그의 스타일 초기화 */
/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body,
header,
footer,
div,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
ul,
ol,
li,
address,
strong,
span,
em,
p,
i,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
table,
caption,
colgroup,
col,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
       padding을 줘도 width/height가 유지가 됨 */
}

/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em,
address {
  font-style: normal;
}

/* 항목 앞에 동그라미 삭제 */
ul,
ol,
li {
  list-style: none;
}

/* form태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form,
input,
select,
textarea,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /* 서체 상속 - button은 body에서 적용한 서체를 
       자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 태그의 legend은 타이틀로 숨김처리 */
}

button {
  background-color: transparent; /* 투명 */
  border: 0;
  cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}

table caption {
  display: none;
}

/* 글자를 두껍게 하는 태그는 모두 일반 두께로 변형 */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 400;
}

/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@font-face {
  font-family: "Binggrae";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Binggrae";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.ttf") format("truetype");
  font-display: swap;
}
html,
body {
  line-height: 1.5;
  font-family: "Binggrae", "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  font-size: 20px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /* 단어별 줄바꿈 */
  background-color: #f6f6f6;
}

#wrap {
  /* id="wrap" */
  overflow: hidden;
  position: relative;
  min-width: 360px;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
  width: 100%;
  max-width: 1740px;
  padding: 0 20px;
  margin: 0 auto;
  /* 1700px 이하부터 360px까지 모든 사이즈 반응형 
       1700px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1700px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1740px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}

@media screen and (max-width: 1000px) {
  html,
body {
    font-size: 15px;
  }
} /* media 종료 */
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000000;
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #0059a8;
  color: #fff;
  text-align: center;
}

.skip_nav a:focus {
  top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}
::selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-moz-selection {
  background: #96ee86;
  color: #3e3e3f;
}

::-webkit-selection {
  background: #96ee86;
  color: #3e3e3f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #2f4858;
}
.header.display {
  display: none;
}
.header h1 {
  font-size: 0;
  line-height: 0;
  width: 302px;
  height: 100%;
  margin: 0 0 0 30px;
}
.header h1 a {
  display: block;
  height: 100%;
  background: url(../images/logo.svg) no-repeat center center/contain;
}
.header .gnb .gnb_open {
  display: none;
  padding: 0 10px 0 0;
}
.header .gnb .gnb_open span {
  display: block;
  transition: 0.3s;
  width: 23px;
  height: 2px;
  margin-bottom: 6px;
  border-radius: 3px; /* 높이의 절반 */
  background-color: #666;
  font-size: 0;
  line-height: 0;
}
.header .gnb ul {
  display: flex;
}
.header .gnb ul li:last-child {
  margin: 0 40px 0 0;
}
.header .gnb ul li a {
  font-size: 25px;
  padding: 20px 40px;
  color: #fff;
}

.visual .bg {
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
  background-color: #2f4858;
  z-index: 10;
}
.visual .bg .visual_txt {
  color: #fff;
  position: absolute;
  left: 1vw;
  top: 200px;
  z-index: 15;
  overflow: visible;
}
.visual .bg .visual_txt h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
  color: #fff;
}
.visual .bg .visual_txt .eng {
  font-size: 30px;
  margin: 10px 0 30px 0;
  position: relative;
}
.visual .bg .visual_txt .eng::after {
  position: absolute;
  width: 550px;
  height: 1px;
  content: "";
  background-color: #fff;
  left: 0;
  bottom: -10px;
}
.visual .bg .popup .btn_stop {
  color: #999;
}

.theliter .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theliter .inner .txt {
  transition: 0.3s;
  opacity: 0;
  margin: -200px;
}
.theliter .inner .txt h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
}
.theliter .inner .txt a {
  display: block;
  padding: 0 100px 0 0;
}
.theliter .inner .txt a span {
  font-size: 80px;
  color: #3d3d3d;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.theliter .inner .txt a:hover span {
  transform: rotate(0);
}
.theliter .inner .img {
  width: 600px;
  height: 600px;
  border: 1px solid #3d3d3d;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.theliter .inner .img h3 {
  font-size: 50px;
  font-weight: 700;
}
.theliter.fp-completely .txt {
  opacity: 1;
  margin: 0;
}

.menu .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  grid-template-areas: "left right";
  height: 100vh;
  width: 100%;
}
.menu .inner .left {
  grid-area: left;
  width: 100%;
  position: relative;
}
.menu .inner .left .bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.menu .inner .left .bg li {
  width: 100%;
  height: 100%;
  display: none;
}
.menu .inner .left .bg li.actived {
  display: block;
}
.menu .inner .left .bg li.actived:nth-child(1) {
  background-image: url(../images/menu_left_01.png);
}
.menu .inner .left .bg li.actived:nth-child(2) {
  background-image: url(../images/menu_left_02.png);
}
.menu .inner .left .bg li.actived:nth-child(3) {
  background-image: url(../images/menu_left_03.png);
}
.menu .inner .left .bg li.actived:nth-child(4) {
  background-image: url(../images/menu_left_04.png);
}
.menu .inner .left h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
  color: #fff;
  padding: 130px 0 0 40px;
}
.menu .inner .left .centerbg {
  position: absolute;
  content: "";
  right: -250px;
  top: calc(50% - 250px);
  width: 500px;
  height: 500px;
}
.menu .inner .left .centerbg li {
  display: none;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.menu .inner .left .centerbg li.actived {
  display: block;
}
.menu .inner .left .centerbg li.actived:nth-child(1) {
  background-image: url(../images/menu01_01.png);
}
.menu .inner .left .centerbg li.actived:nth-child(2) {
  background-image: url(../images/menu02_01.png);
}
.menu .inner .left .centerbg li.actived:nth-child(3) {
  background-image: url(../images/menu03_01.png);
}
.menu .inner .left .centerbg li.actived:nth-child(4) {
  background-image: url(../images/menu04_01.png);
}
.menu .inner .left .txt {
  padding: 0 0 0 50px;
}
.menu .inner .left .txt li {
  font-size: 24px;
  line-height: 57px;
}
.menu .inner .left .txt li.actived {
  display: inline;
  border-bottom: 2px solid #fff;
}

.right {
  grid-area: right;
}
.right .bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.right .bg li {
  height: 100%;
  display: none;
}
.right .bg li.actived {
  display: block;
}
.right .bg li.actived:nth-child(1) {
  background-image: url(../images/menu01_right.png);
}
.right .bg li.actived:nth-child(2) {
  background-image: url(../images/menu02_right.png);
}
.right .bg li.actived:nth-child(3) {
  background-image: url(../images/menu03_right.png);
}
.right .bg li.actived:nth-child(4) {
  background-image: url(../images/menu04_right.png);
}

.interview .grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  grid-template-areas: "txt img";
}
.interview .grid .txt {
  margin: 100px 0 0 0;
  grid-area: txt;
}
.interview .grid .txt h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
}
.interview .grid .txt span {
  font-size: 80px;
  color: #3d3d3d;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.interview .grid .txt:hover span {
  transform: rotate(0);
}
.interview .grid .img {
  grid-area: img;
  position: relative;
}
.interview .grid .img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.interview .grid .img img:nth-child(1) {
  left: 20%;
  top: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}
.interview .grid .img img:nth-child(2) {
  left: -40%;
  opacity: 0;
  bottom: 10%;
  transition: 0.8s;
}
.interview .grid .img img:nth-child(3) {
  right: 0;
  bottom: 3%;
}
.interview.fp-completely .grid .img img:nth-child(1) {
  left: 20%;
  top: 5%;
  opacity: 1;
  z-index: 1;
}
.interview.fp-completely .grid .img img:nth-child(2) {
  opacity: 1;
  left: -20%;
  bottom: 10%;
}
.interview.fp-completely .grid .img img:nth-child(3) {
  opacity: 1;
  right: 0;
  bottom: 3%;
}

.blend {
  background-color: #d31f30;
  color: #fff;
}
.blend .grid {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: "txt img";
}
.blend .grid .txt {
  padding: 150px 0 0 0;
  grid-area: txt;
}
.blend .grid .txt strong {
  font-size: 30px;
}
.blend .grid .txt h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
  color: #fff;
  margin: 10px 0 20px 0;
}
.blend .grid .txt span {
  font-size: 80px;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.blend .grid .txt:hover span {
  transform: rotate(0);
}
.blend .grid .img {
  grid-area: img;
  position: relative;
}
.blend .grid .img img {
  position: relative;
  z-index: 2;
}
.blend .grid .img img.sub {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 45%;
  opacity: 0;
}
.blend.fp-completely .img img.sub {
  transition: 0.5s;
  opacity: 1;
  left: 10%;
  top: 45%;
}

.news .grid {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-areas: "tit cnt";
}
.news .grid .tit {
  grid-area: tit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .grid .tit h2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 88px;
  color: #3d3d3d;
}
.news .grid .tit img {
  width: 224px;
  height: 167px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: rotate360 10s infinite linear;
          animation: rotate360 10s infinite linear;
}
@-webkit-keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
.news .grid .cnt {
  grid-area: cnt;
  display: flex;
  flex-direction: column;
}
.news .grid .cnt li {
  border: 1px solid #ccc;
}
.news .grid .cnt li:nth-child(1) {
  border-bottom: 0;
}
.news .grid .cnt li:nth-child(3) {
  border-top: 0;
}
.news .grid .cnt li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding: 20px 0 0 20px;
}
.news .grid .cnt li a:hover .ico span {
  transform: rotate(0);
}
.news .grid .cnt li a .txt strong {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  height: 90px;
  overflow: hidden;
}
.news .grid .cnt li a .txt strong span {
  display: block;
  color: #3d3d3d;
}
.news .grid .cnt li a .txt span {
  display: block;
  color: #999;
}
.news .grid .cnt li a .ico {
  padding: 0 30px 0 0;
}
.news .grid .cnt li a .ico span {
  color: #3d3d3d;
  font-size: 50px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.footer {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  color: #666;
}
.footer .grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  grid-template-areas: "fnav finfo sns";
}
.footer .grid .fnav {
  grid-area: fnav;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  color: #3d3d3d;
}
.footer .grid .fnav li.privacy {
  font-weight: 700;
}
.footer .grid .finfo {
  grid-area: finfo;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .grid .finfo span {
  position: relative;
  margin: 0 20px 0 0;
}
.footer .grid .finfo span::after {
  position: absolute;
  right: -10px;
  top: 8px;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  content: "";
}
.footer .grid .finfo .copyright {
  color: #999;
}
.footer .grid .sns {
  color: #3d3d3d;
  grid-area: sns;
}
.footer .grid .sns .tel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .grid .sns .tel span {
  font-size: 40px;
}
.footer .grid .sns .ico {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .header h1 {
    width: 202px;
    margin: 0 0 0 20px;
  }
  .header .gnb ul li:last-child {
    margin: 0 20px 0 0;
  }
  .header .gnb ul li a {
    font-size: 20px;
    padding: 20px 30px;
    color: #fff;
  }
  .theliter .inner .txt h2 {
    font-size: 60px;
  }
  .theliter .inner .txt a span {
    font-size: 60px;
  }
  .theliter .inner .img {
    width: 500px;
    height: 500px;
    border: 1px solid #3d3d3d;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .theliter .inner .img h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .theliter.fp-completely .txt {
    opacity: 1;
    margin: 0;
  }
  .menu .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    grid-template-areas: "left right";
    width: 100%;
  }
  .menu .inner .left {
    grid-area: left;
    width: 100%;
    position: relative;
  }
  .menu .inner .left .bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .menu .inner .left .bg li {
    width: 100%;
    height: 100%;
    display: none;
  }
  .menu .inner .left .bg li.actived {
    display: block;
  }
  .menu .inner .left .bg li.actived:nth-child(1) {
    background-image: url(../images/menu_left_01.png);
  }
  .menu .inner .left .bg li.actived:nth-child(2) {
    background-image: url(../images/menu_left_02.png);
  }
  .menu .inner .left .bg li.actived:nth-child(3) {
    background-image: url(../images/menu_left_03.png);
  }
  .menu .inner .left .bg li.actived:nth-child(4) {
    background-image: url(../images/menu_left_04.png);
  }
  .menu .inner .left h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 88px;
    color: #3d3d3d;
    color: #fff;
    padding: 130px 0 0 40px;
  }
  .menu .inner .left .centerbg {
    position: absolute;
    content: "";
    right: -200px;
    top: calc(50% - 200px);
    width: 400px;
    height: 400px;
  }
  .menu .inner .left .centerbg li {
    display: none;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .menu .inner .left .centerbg li.actived {
    display: none;
  }
  .menu .inner .left .centerbg li.actived:nth-child(1) {
    background-image: url(../images/menu01_01.png);
  }
  .menu .inner .left .centerbg li.actived:nth-child(2) {
    background-image: url(../images/menu02_01.png);
  }
  .menu .inner .left .centerbg li.actived:nth-child(3) {
    background-image: url(../images/menu03_01.png);
  }
  .menu .inner .left .centerbg li.actived:nth-child(4) {
    background-image: url(../images/menu04_01.png);
  }
  .menu .inner .left .txt {
    padding: 0 0 0 50px;
  }
  .menu .inner .left .txt li {
    font-size: 24px;
    line-height: 57px;
  }
  .menu .inner .left .txt li.actived {
    display: inline;
    border-bottom: 2px solid #fff;
  }
  .right {
    grid-area: right;
  }
  .right .bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .right .bg li {
    height: 100%;
    display: none;
  }
  .right .bg li.actived {
    display: block;
  }
  .right .bg li.actived:nth-child(1) {
    background-image: url(../images/menu01_right.png);
  }
  .right .bg li.actived:nth-child(2) {
    background-image: url(../images/menu02_right.png);
  }
  .right .bg li.actived:nth-child(3) {
    background-image: url(../images/menu03_right.png);
  }
  .right .bg li.actived:nth-child(4) {
    background-image: url(../images/menu04_right.png);
  }
  .interview .grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    grid-template-areas: "txt img";
  }
  .interview .grid .txt {
    margin: 100px 0 0 0;
    grid-area: txt;
  }
  .interview .grid .txt h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 88px;
    color: #3d3d3d;
  }
  .interview .grid .txt span {
    font-size: 80px;
    color: #3d3d3d;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .interview .grid .txt:hover span {
    transform: rotate(0);
  }
  .interview .grid .img {
    grid-area: img;
    position: relative;
  }
  .interview .grid .img img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .interview .grid .img img:nth-child(1) {
    left: 20%;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
  }
  .interview .grid .img img:nth-child(2) {
    left: -40%;
    opacity: 0;
    bottom: 10%;
    transition: 0.8s;
  }
  .interview .grid .img img:nth-child(3) {
    right: 0;
    bottom: 3%;
  }
  .interview.fp-completely .grid .img img:nth-child(1) {
    left: 20%;
    top: 5%;
    opacity: 1;
    z-index: 1;
  }
  .interview.fp-completely .grid .img img:nth-child(2) {
    opacity: 1;
    left: -30%;
    bottom: 10%;
  }
  .interview.fp-completely .grid .img img:nth-child(3) {
    opacity: 1;
    right: 0;
    bottom: 3%;
  }
  .blend {
    background-color: #d31f30;
    color: #fff;
  }
  .blend .grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: "txt img";
  }
  .blend .grid .txt {
    padding: 150px 0 0 0;
    grid-area: txt;
  }
  .blend .grid .txt strong {
    font-size: 30px;
  }
  .blend .grid .txt h2 {
    font-size: 60px;
    color: #fff;
    margin: 10px 0 20px 0;
  }
  .blend .grid .txt span {
    font-size: 80px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .blend .grid .txt:hover span {
    transform: rotate(0);
  }
  .blend .grid .img {
    grid-area: img;
    position: relative;
  }
  .blend .grid .img img {
    position: relative;
    z-index: 2;
  }
  .blend .grid .img img.sub {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 45%;
    opacity: 0;
  }
  .blend.fp-completely .img img.sub {
    transition: 0.5s;
    opacity: 1;
    left: 10%;
    top: 45%;
  }
  .news .grid {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-areas: "tit cnt";
  }
  .news .grid .tit {
    grid-area: tit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .news .grid .tit h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 88px;
    color: #3d3d3d;
  }
  .news .grid .tit img {
    width: 224px;
    height: 167px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: rotate360 10s infinite linear;
            animation: rotate360 10s infinite linear;
  }
  @-webkit-keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
  .news .grid .cnt {
    grid-area: cnt;
    display: flex;
    flex-direction: column;
  }
  .news .grid .cnt li {
    border: 1px solid #ccc;
  }
  .news .grid .cnt li:nth-child(1) {
    border-bottom: 0;
  }
  .news .grid .cnt li:nth-child(3) {
    border-top: 0;
  }
  .news .grid .cnt li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    padding: 20px 0 0 20px;
  }
  .news .grid .cnt li a:hover .ico span {
    transform: rotate(0);
  }
  .news .grid .cnt li a .txt strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    overflow: hidden;
  }
  .news .grid .cnt li a .txt strong span {
    color: #3d3d3d;
    display: inline;
  }
  .news .grid .cnt li a .txt span {
    display: block;
    color: #999;
  }
  .news .grid .cnt li a .ico {
    padding: 0 30px 0 0;
  }
  .news .grid .cnt li a .ico span {
    color: #3d3d3d;
    font-size: 50px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    color: #666;
  }
  .footer .grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-areas: "fnav finfo sns";
  }
  .footer .grid .fnav {
    grid-area: fnav;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    color: #3d3d3d;
  }
  .footer .grid .fnav li.privacy {
    font-weight: 700;
  }
  .footer .grid .finfo {
    grid-area: finfo;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .grid .finfo span {
    position: relative;
    margin: 0 20px 0 0;
  }
  .footer .grid .finfo span::after {
    position: absolute;
    right: -10px;
    top: 8px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
  }
  .footer .grid .finfo .copyright {
    color: #999;
  }
  .footer .grid .sns {
    color: #3d3d3d;
    grid-area: sns;
  }
  .footer .grid .sns .tel {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer .grid .sns .tel span {
    font-size: 40px;
  }
  .footer .grid .sns .ico {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    height: 60px;
  }
  .header h1 {
    width: 120px;
    height: 100%;
    margin: 0 0 0 20px;
  }
  .header .gnb .gnb_open {
    display: block;
    padding: 0 20px 0 0;
  }
  .header .gnb .gnb_open span {
    background-color: #ccc;
  }
  .header .gnb ul {
    display: none;
  }
  .visual .bg {
    height: 400px;
  }
  .visual .bg .visual_txt {
    color: #fff;
    position: absolute;
    left: 1vw;
    top: 100px;
    z-index: 15;
    overflow: visible;
  }
  .visual .bg .visual_txt h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
    color: #fff;
  }
  .visual .bg .visual_txt .eng {
    font-size: 20px;
    margin: 10px 0 30px 0;
  }
  .visual .bg .visual_txt .eng::after {
    width: 80%;
  }
  .visual .bg .popup ul li {
    height: 450px;
    width: 100%;
  }
  .visual .bg .popup ul li img {
    width: 100%;
    display: block;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .theliter {
    padding: 0;
  }
  .theliter .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .theliter .inner .txt {
    transition: 0.3s;
    opacity: 0;
    margin: 0 0 0 -200px;
  }
  .theliter .inner .txt h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
  }
  .theliter .inner .txt a {
    display: block;
    padding: 0;
  }
  .theliter .inner .txt a span {
    font-size: 40px;
    color: #3d3d3d;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .theliter .inner .txt a:hover span {
    transform: rotate(0);
  }
  .theliter .inner .img {
    width: 250px;
    height: 300px;
    border: 1px solid #3d3d3d;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .theliter .inner .img img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .theliter .inner .img h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .theliter.fp-completely .txt {
    opacity: 1;
    margin: 0;
  }
  .menu .inner {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "left ";
  }
  .menu .inner .left .bg li {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu .inner .left h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
    color: #fff;
    padding: 100px 0 0 40px;
  }
  .menu .inner .left .centerbg li.actived {
    display: none;
  }
  .menu .inner .left .txt {
    padding: 0 0 0 50px;
  }
  .menu .inner .left .txt li {
    font-size: 24px;
    line-height: 57px;
  }
  .menu .inner .left .txt li.actived {
    display: inline;
    border-bottom: 2px solid #fff;
  }
  .right .bg li.actived {
    display: none;
  }
  .interview .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "txt" "img";
  }
  .interview .grid .txt {
    margin: 50px 0 0 0;
    grid-area: txt;
  }
  .interview .grid .txt h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
  }
  .interview .grid .txt span {
    font-size: 50px;
  }
  .interview .grid .txt:hover span {
    transform: rotate(0);
  }
  .interview .grid .img {
    grid-area: img;
    position: relative;
  }
  .interview .grid .img img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale3d(0.4, 0.4, 1);
  }
  .interview .grid .img img:nth-child(1) {
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
  }
  .interview .grid .img img:nth-child(2) {
    left: -40%;
    opacity: 0;
    bottom: 10%;
    transition: 0.8s;
  }
  .interview .grid .img img:nth-child(3) {
    left: 0;
    bottom: 0;
  }
  .interview.fp-completely .grid .img img:nth-child(1) {
    left: -50%;
    top: 0;
    opacity: 1;
    z-index: 1;
  }
  .interview.fp-completely .grid .img img:nth-child(2) {
    opacity: 1;
    left: -30%;
    bottom: 0;
  }
  .interview.fp-completely .grid .img img:nth-child(3) {
    opacity: 1;
    left: 0;
    bottom: auto;
    top: -10%;
  }
  .blend {
    background-color: #d31f30;
    color: #fff;
    overflow: hidden;
  }
  .blend .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "txt" "img";
  }
  .blend .grid .txt {
    padding: 0 0 0 0;
    grid-area: txt;
  }
  .blend .grid .txt strong {
    font-size: 20px;
  }
  .blend .grid .txt h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
    color: #fff;
    margin: 10px 0;
  }
  .blend .grid .txt span {
    font-size: 40px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .blend .grid .txt:hover span {
    transform: rotate(0);
  }
  .blend .grid .txt p {
    display: none;
  }
  .blend .grid .img {
    grid-area: img;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .blend .grid .img img {
    transform: scale3d(0.4, 0.4, 1) translate(-50%, 0);
  }
  .blend .grid .img img.sub {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100px;
    opacity: 0;
  }
  .blend.fp-completely .img img.sub {
    display: none;
    transition: 0.5s;
    opacity: 1;
    left: 10%;
    top: 150px;
  }
  .news .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "tit" "cnt";
  }
  .news .grid .tit {
    grid-area: tit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .news .grid .tit h2 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
  }
  .news .grid .tit img {
    width: 150px;
    height: 127px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: rotate360 10s infinite linear;
            animation: rotate360 10s infinite linear;
  }
  @-webkit-keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
  .news .grid .cnt {
    margin: 20px 0 0 0;
    grid-area: cnt;
    display: flex;
    flex-direction: column;
  }
  .news .grid .cnt li {
    border: 1px solid #ccc;
  }
  .news .grid .cnt li:nth-child(1) {
    border-bottom: 0;
  }
  .news .grid .cnt li:nth-child(3) {
    border-top: 0;
    display: none;
  }
  .news .grid .cnt li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 20px 0 0 20px;
  }
  .news .grid .cnt li a:hover .ico span {
    transform: rotate(0);
  }
  .news .grid .cnt li a .txt strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    height: 60px;
    overflow: hidden;
  }
  .news .grid .cnt li a .txt strong span {
    display: block;
    color: #3d3d3d;
  }
  .news .grid .cnt li a .txt span {
    display: block;
    color: #999;
  }
  .news .grid .cnt li a .ico {
    padding: 0 30px 0 0;
  }
  .news .grid .cnt li a .ico span {
    color: #3d3d3d;
    font-size: 30px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    color: #666;
  }
  .footer .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 55vh 25vh;
    grid-template-areas: "fnav" "finfo" "sns";
  }
  .footer .grid .fnav {
    grid-area: fnav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 50px;
    color: #3d3d3d;
  }
  .footer .grid .fnav li.privacy {
    font-weight: 700;
  }
  .footer .grid .fnav li a {
    padding: 5px 10px;
  }
  .footer .grid .finfo {
    grid-area: finfo;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .grid .finfo span {
    position: relative;
    margin: 0 20px 0 0;
  }
  .footer .grid .finfo span::after {
    position: absolute;
    right: -10px;
    top: 8px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
  }
  .footer .grid .finfo .copyright {
    color: #999;
  }
  .footer .grid .sns {
    color: #3d3d3d;
    grid-area: sns;
  }
  .footer .grid .sns .tel {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer .grid .sns .tel span {
    font-size: 25px;
  }
  .footer .grid .sns .ico {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
body .section.fp-auto-height .fp-overflow,
body.fp-responsive .section .fp-overflow {
  /* footer처럼 높이를 자유롭게 설정하는 section은 임의의 상하단 여백 안줌 
       모바일에서 fullpage를 해제한 경우에도 여백을 주지 않기 */
  padding: 0;
}

body .section .fp-overflow {
  overflow: visible;
  padding: 0 0 100px 0;
  /* fullpage 에서 콘텐츠 영역을 fp-overflow로 잡는데 
     그 영역으로 이동된 컨텐츠가 있으면 그 영역을 스크롤 한다고 판단해서 
     다음 색션으로 스크롤을 넘기지 않음. 
     그래서 콘텐츠를 감싸는 fp-overflow한테 (fullpage.js가 맘대로 만든 div)
     상하단에 임의의 여백 100px을 줌 (더 많이 줘도 됨)
     만약에 영역 밖으로 나가는 콘텐츠가 있으면 fp-overflow 영역을 꼭 확인해야함.*/
}

#fp-nav ul li:hover .fp-tooltip.fp-right,
.fp-slidesNav ul li:hover .fp-tooltip.fp-right {
  color: #000;
}