h1 {
    margin: 0;
    padding: 0;
    color: #71C5E8;
}
h2 {
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    
}
div {
    width: 1280px;
    margin: 0 auto;
}
