@import url('default.css');

h1 {
    display: none;
}

.visual {
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
    text-align: center;
}
.visual h2 {
    position: relative; /* before 정렬의 기준 */
    padding: 324px 0 21px 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
}
.visual h2::before {
    /* 왼쪽요소는 right에 margin-right로 정렬 */
    position: absolute;
    right: 50%;
    top: 327px;
    width: 55px;
    height: 261px;
    margin-right: 330px;
    border: 5px solid #FFF;
    border-right: 0;
    content: ""; /* before,after 필수요소 */
}
.visual h2::after {
    /* 오른쪽요소는 left에 margin-left로 정렬 */
    position: absolute;
    left: 50%;
    top: 327px;
    width: 55px;
    height: 261px;
    margin-left: 330px;
    border: 5px solid #FFF;
    border-left: 0; 
    content: ""; /* before,after 필수요소 */
}
.visual p {
    font-size: 20px;
}
@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 141px 0 16px 0;
        font-size: 40px;
    }
    .visual h2::before {
        display: none;
    }
    .visual h2::after {
        display: none;
    }
    .visual p {
        font-size: 13px;
        padding: 0 0 140px 0;
    }
}/* visual media 종료 */
.river {
    margin: 117px 0 0 0;
}
.river .inner2 {
    position: relative;
}
.river h2 {
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.river .inner {
    float: right;
    width: 730px;
}
.river p {
    margin: 0 0 36px 0;
}
.river .more {
    position: absolute;
    left: 0;
    top: 210px;
}
.river .more a {
    display: inline-block;
    position: relative;
    padding: 0 105px 0 0;
}
.river .more a::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #666666;
    content: "";
}

@media screen and (max-width:640px){
    .river {
        margin: 84px 0 0 0;
    }
    .river h2 {
        float: none;
        font-size: 25px;
    }
    .river .inner {
        float: none;
        width: auto;
    }
    .river p {
        margin: 16px 0 21px 0;
    }
    .river img {
        width: 100%;
        /* 콘텐츠 영역의 넓이에 맞춰서 꽉차게 나타나기 */
    }
    .river .more {
        position: relative;
        left: auto;
        top: auto;
        margin: 21px 0 0 0;
        text-align: center;
    }
    .river .more a {
        padding: 0 0 2px 0;
    }
    .river .more a::after {
        /* absolute를 top으로 정렬했던 것을 bottom정렬로 변경하려면 
           반드시 top auto값을 주고 bottom 선언해야함. */
        top: auto;
        bottom: 0;
        width: 100%;
    }
}/* river media 종료 */

.road {
    margin: 135px 0 0 0;
}
.road .inner {
    position: relative; /* more 정렬의 기준점 */
}
.road h2 {
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.road .cnt {
    float: right;
    width: 730px;
    margin: 84px 0 0 0;
}
.road ul {
    margin: 112px 0 0 0;
}
.road ul li {
    position: relative;
    float: left;
    width: 400px;
    height: 345px;
    margin: 0 40px 0 0;
    color: #FFF;
    text-align: center;
}
.road ul li:last-child {
    margin-right: 0;
}
.road ul li .inner2 {
    position: relative;
    z-index: 2;
    padding: 118px 50px 0 50px;
}
.road ul li .bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.road ul li .road01 {
    background: url(../images/road01.png) no-repeat center center / cover;
}
.road ul li .road02 {
    background: url(../images/road02.png) no-repeat center center / cover;
}
.road ul li .road03 {
    background: url(../images/road03.png) no-repeat center center / cover;
}
.road ul li h3 {
    margin: 0 0 11px 0;
    font-size: 25px;
    font-weight: 700;
}
.road .more {
    position: absolute;
    left: 0;
    top: 210px;
}
.road .more a {
    display: inline-block;
    position: relative;
    padding: 0 105px 0 0;
}
.road .more a::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #666666;
    content: "";
}
@media screen and (max-width:640px){
    .road {
        margin: 80px 0 0 0;
    }
    .road h2 {
        float: none;
        font-size: 25px;
    }
    .road .cnt {
        float: none;
        width: auto;
        margin: 16px 0 0 0;
    }
    .road ul {
        margin: 23px 0 0 0;
    }
    .road ul li {
        float: none;
        width: auto;
        height: auto;
        margin: 0 0 15px 0;
        color: #3D3D3D;
        text-align: left;
    }
    .road ul li:last-child {
        margin-bottom: 0;
    }
    .road ul li .inner2 {
        padding: 0;
    }
    .road ul li .bg {
        position: relative;
        left: auto;
        top: auto;
        height: 125px;
        margin: 15px 0 0 0;
    }
    .road ul li h3 {
        margin: 0 0 8px 0;
        font-size: 20px;
    }
    .road .more {
        position: relative;
        left: auto;
        top: auto;
        margin: 21px 0 0 0;
        text-align: center;
    }
    .road .more a {
        padding: 0 0 2px 0;
    }
    .road .more a::after {
        /* absolute를 top으로 정렬했던 것을 bottom정렬로 변경하려면 
           반드시 top auto값을 주고 bottom 선언해야함. */
        top: auto;
        bottom: 0;
        width: 100%;
    }
}/* road media 종료 */

.garden {
    position: relative;
    margin: 114px 0 0 0;
}
.garden .inner {
    position: relative;
    z-index: 2;
    /* img 위에 배치하기 위해서 z-index를 줌
       z-index가 적용되게 하기 위해서는 position값이 필수 */
    background-color: rgba(9,104,124,0.95);
    width: 50%;
    height: 580px;
    margin: 0 0 0 50%;
    /* inner감싸는 garden영역 넓이의 50%를 왼쪽 여백 */
    color: #FFF;
}
.garden .inner .inner2 {
    width: 620px;
    padding: 106px 0 0 100px;
}
.garden h2 {
    margin: 0 0 40px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.garden img {
    /* 이미지를 가운데 정렬 시키기 위해서
       left 50%로 가운데에서 시작
       margn-left로 넓이의 절반을 줌 */
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -960px; /* 이미지 넓이의 절반 */
}
.garden .more {
    position: absolute;
    left: calc(50% + 100px);
    top: 416px;
    z-index: 3;
}
.garden .more a {
    display: inline-block;
    position: relative;
    padding: 0 105px 0 0;
    color: #FFF;
}
.garden .more a::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}

@media screen and (max-width:640px){
    .garden {
        margin: 80px 20px 0 20px;
    }
    .garden .inner {
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0;
        color: #3D3D3D;
    }
    .garden .inner .inner2 {
        width: auto;
        padding: 0;
    }
    .garden h2 {
        margin: 0 0 16px 0;
        font-size: 25px;
    }
    .garden img {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        margin: 21px 0 21px 0;
    }
    .garden .more {
        position: relative;
        left: auto;
        top: auto;
        text-align: center;
    }
    .garden .more a {
        padding: 0 0 2px 0;
        color: #3d3d3d;
    }
    .garden .more a::after {
        top: auto;
        bottom: 0;
        width: 100%;
        background-color: #666666;
    }
}/* garden media 종료 */

footer {
    text-align: center;
    color: #666666;
}
footer ul {
    display: inline-block;
    margin: 62px 0 32px 0;
}
footer ul li {
    float: left;
    margin: 0 10px 0 0;
}
footer ul li:last-child {
    margin-right: 0;
}
footer .copyright {
    margin: 0 0 80px 0;
}

@media screen and (max-width:640px){
    footer {
        margin: 60px 0 0 0;
        background-color: #F4F4F4;
    }
    footer ul {
        margin: 49px 0 20px 0;
    }
    footer .copyright {
        margin: 0;
        padding: 0 0 52px 0;
    }
}