@import "_var.scss";
//각각의 컨텐츠 페이지 스타일
//about1
//ChairMan > About Us > B&TAILOR

.cts_about1 {
  margin: 30px 0 0 0;
  .about1_top {
    overflow: hidden;
    position: relative;
    padding: 146px 0 0 0;
    p {
      position: absolute;
      left: 12%;
      top: 250px;
      color: #fff;
      font-size: 30px;
    }
    img {
      position: absolute;
      top: 0;
      right: 100px;
    }
    .bg {
      height: 438px;
      background: url(/suhom118/b&tailor/images/contents/bg.png) no-repeat center center / cover;
    }
  }
  .about1_sub {
    position: relative;
    background-color: #fff;
    width: 60%;
    margin: -132px 0 0 40%;
    z-index: 1;
    padding: 101px 0 101px 63px;
    .inner {
      width: 80%;
      p {
        word-break: normal;
        &.tit {
          @include title_style;
          color: #3d3d3d;
          font-size: 40px;
        }
        &.cnt {
          margin: 10px 0 30px 0;
          font-size: 20px;
        }
        &.sign {
          font-size: 30px;
          text-align: end;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .cts_about1 {
    margin: 30px 0 30px 0;
    .about1_top {
      padding: 25px 0 0 0;
      p {
        position: absolute;
        left: 27px;
        top: 56px;
        color: #fff;
        font-size: 25px;
        width: 40%;
        br.m_no {
          display: none;
        }
      }
      img {
        right: -10px;
        width: 50%;
      }
      .bg {
        height: 200px;
        background: url(/suhom118/b&tailor/images/contents/bg.png) no-repeat center center / cover;
      }
    }
    .about1_sub {
      position: relative;
      background-color: #fff;
      width: auto;
      margin: 20px 0 0 0;
      z-index: 1;
      padding: 0 20px;
      .inner {
        width: auto;
        p {
          word-break: normal;
          &.tit {
            @include title_style;
            color: #3d3d3d;
            font-size: 25px;
          }
          &.cnt {
            margin: 10px 0 30px 0;
            font-size: 13px;
          }
          &.sign {
            font-size: 20px;
            text-align: end;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .cts_about1 {
    margin: 30px 0 30px 0;
    .about1_top {
      padding: 25px 0 0 0;
      p {
        position: absolute;
        left: 27px;
        top: 66px;
        color: #fff;
        font-size: 18px;
        width: 40%;
        br.m_no {
          display: none;
        }
      }
      img {
        right: -10px;
        width: 50%;
      }
      .bg {
        height: 200px;
        background: url(/suhom118/b&tailor/images/contents/bg.png) no-repeat center center / cover;
      }
    }
    .about1_sub {
      position: relative;
      background-color: #fff;
      width: auto;
      margin: 20px 0 0 0;
      z-index: 1;
      padding: 0 20px;
      .inner {
        width: auto;
        p {
          word-break: normal;
          &.tit {
            @include title_style;
            color: #3d3d3d;
            font-size: 25px;
          }
          &.cnt {
            margin: 10px 0 30px 0;
            font-size: 13px;
          }
          &.sign {
            font-size: 20px;
            text-align: end;
          }
        }
      }
    }
  }
}
