@import "_var.scss";
@import "_default.scss";
@import "_common.scss";
//서브 공통 레이아웃

.header {
  &.fixed {
    //fixed 클래스 추가
    position: fixed;

    background-color: rgba(255, 255, 255, 0.5);
  }
  a {
    img {
      content: url(/suhom118/b&tailor/images/main/logo_black.svg);
    }
  }
  .gnb {
    ul {
      li {
        a {
          color: #3d3d3d;
        }
      }
    }
  }
}
.sub_visual {
  height: 550px;
  background-image: url(/suhom118/b&tailor/images/sub/sub_bg1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .location {
    padding: 340px 0 0 0;
    color: $w_tit_color;
    display: flex;
    align-items: center;

    span {
      position: relative;
      margin: 0 15px 0 0;
      &::after {
        position: absolute;
        width: 5px;
        height: 9px;
        background-color: #ffffff;
        content: "";
        right: -10px;
        top: 9px;
        clip-path: path(
          "M4.38596 -1.90735e-06L5 0.624999L1.23904 4.38596L5 8.14693L4.38596 8.77193L0 4.38596L4.38596 -1.90735e-06Z"
        );
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .tit {
    @include title_style;
  }
  &.sub_bg1 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg1.png);
  }
  &.sub_bg2 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg2.png);
  }
  &.sub_bg3 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg3.png);
  }
  &.sub_bg4 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg4.png);
  }
  &.sub_bg5 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg5.png);
  }
  &.sub_bg6 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg6.png);
  }
  &.sub_bg7 .sub_visual_bg {
    background-image: url(/design01/bntailor/images/sub/sub_bg7.png);
  }
}
@media screen and (max-width: 1000px) {
  .sub_visual {
    height: 245px;
    .sub_visual_bg {
      height: 100%;
      clip-path: none;
    }
    .location {
      padding: 150px 0 0 0;
      span {
        margin-right: 14px;

        &::after {
          right: -10px;
          top: 6px;
        }
      }
    }
    .tit {
      font-size: 30px;
    }
  }
}
.lnb {
  margin: 20px 0 50px 0;
  height: 80px;
  position: relative;
  .lnb_fix {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;

    .lnb_wrap {
      overflow-x: auto;
      height: 100%;
      ul {
        display: flex;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        li {
          a {
            display: block;
            padding: 0 25px;
            color: #999999;
            font-size: 20px;
            font-weight: 700;
          }
          &:first-child {
            a {
              padding-left: 0;
            }
          }
          &.active {
            a {
              position: relative;
              color: #1d1d1d;
              &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 19px;
                height: 2px;
                background-color: #9d856d;
                content: "";
              }
            }
          }
        }
      }
    }
  }
  &.fixed .lnb_fix {
    position: fixed;
    top: 100px;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 1000px) {
  .lnb {
    margin: 20px 0 50px 0;
    height: 80px;
    position: relative;
    .lnb_fix {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80px;

      .lnb_wrap {
        overflow-x: auto;
        height: 100%;
        ul {
          display: flex;
          white-space: nowrap;
          align-items: center;
          height: 100%;
          li {
            a {
              display: block;
              padding: 0 25px;
              color: #999999;
              font-size: 20px;
              font-weight: 700;
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &.active {
              a {
                position: relative;
                color: #1d1d1d;
                &::before {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 19px;
                  height: 2px;
                  background-color: #9d856d;
                  content: "";
                }
              }
            }
          }
        }
      }
    }
    &.fixed .lnb_fix {
      position: fixed;
      top: 60px;
      z-index: 200;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
.container {
  height: 5000px;
  min-height: 400px;
}
.custom-shape-divider-bottom-1667436110 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667436110 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 84px;
}

.custom-shape-divider-bottom-1667436110 .shape-fill {
  fill: #ffffff;
}
