@import url(default.css);
@import url(common.css);

.tour {
  height: 482px;
  background: rgb(19, 136, 94);
  background: linear-gradient(90deg, rgba(19, 136, 94, 1) 0%, #57be91 100%);
  color: #fff;
  position: relative;
}
.tour h2 {
  padding: 64px 0 53px 0;
  font-size: 50px;
  font-weight: 700;
}
.tour ul {
  display: flex;
  justify-content: start;
}
.tour ul li {
  overflow: hidden;
  position: relative;

  width: 130px;
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
.tour ul li a {
  display: block;
  height: 150px;
}
.tour ul li a i {
  padding: 37px 0 10px 0;
  font-size: 42px;
}
.tour ul li a strong {
  display: block;
}
.tour ul li a .btn_wrap {
  display: block;
}
.tour ul li a .out,
.tour ul li a .over {
  display: block;
  height: 150px; /* a높이와 동일한값 */
}
.tour ul li a .over {
  background-color: #fff;
  color: #13885e;
}
.tour ul li a .up_wrap {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0; /* bottom 정렬인데 높이가 늘어나면 밑에서부터 위로 늘어남 */
  width: 100%;
  height: 0;
}
.tour ul li a .up_wrap .up {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px; /* a의 높이값 */
  background-color: #fff;
  color: #13885e;
}
/* 오버효과 - transition */
.tour ul li.ico1 a i {
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.tour ul li.ico1 a:hover i {
  transform: rotateY(360deg);
}
.tour ul li.ico2 a {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.tour ul li.ico2 a:hover {
  background-color: #fff;
  color: #13885e;
}
.tour ul li.ico3 a .btn_wrap {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.tour ul li.ico3 a:hover .btn_wrap {
  transform: translate(0, -150px); /* a의 높이값만큼 이동 */
}
.tour ul li.ico4 a .up_wrap {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.tour ul li.ico4 a:hover .up_wrap {
  height: 100%;
}
.tour ul li.ico5 a i {
  transition: 1s ease-in-out;
}
.tour ul li.ico5 a:hover i {
  animation: ico_rotate 1s linear infinite;
}
@keyframes ico_rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.tour .circle_txt {
  position: absolute;
  right: -105px;
  top: 40px;
  width: 250px;
  height: 250px;
  background: url(../images/circle_txt.svg) no-repeat right bottom/ contain;
  animation: circle_rotate 10s linear infinite;
}
@keyframes circle_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.tour .circle {
  position: absolute;
  left: -85px;
  top: 30px;
  width: 170px;
  height: 170px;
  background: url(../images/circle.svg) no-repeat center center / contain;
  animation: circle_rotate 15s linear infinite;
}
.tour .fire {
  position: absolute;

  background: url(../images/fire.svg) no-repeat center center / contain;
}
@keyframes fire_ani {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 1);
  }
  30% {
    opacity: 1;
    transform: scale3d(0.8, 0.8, 1);
  }
  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1);
  }
}
.tour .fire.po1 {
  width: 180px;
  height: 180px;
  left: -50px;
  top: 270px;
  animation: fire_ani 1s ease-in-out infinite;
}
.tour .fire.po2 {
  width: 80px;
  height: 80px;
  left: 400px;
  top: 70px;
  animation: fire_ani 1s ease-in-out infinite;
}
.tour .fire.po3 {
  width: 80px;
  height: 80px;
  left: 800px;
  top: 90px;
  animation: fire_ani 1s ease-in-out infinite;
}
.slide {
  margin: 100px 0;
}
.slide .slide_wrap {
  overflow: hidden;
  width: 0;
  /* 넓이가 0 ~ 100%로 변경되는 애니메이션을 줄 예정  
       첫 설정에서 50%로 넓이를 제한하고 그 내부요소가 slide_cnt가 slide와 영역이 동일해야함 
       slide_cnt의 영역이 짤리면 안됨   */
}
.slide .slide_wrap .slide_cnt {
  position: relative;
  width: 1400px;
  height: 389px;
}
.slide .slide_wrap .slide_cnt h2 {
  position: absolute;
  right: 240px;
  top: 137px;
  font-size: 40px;
  color: #fff;
  text-align: right;
}
/* 애니메이션 -transition : 마우스아웃효과가 무조건 들어감 */
/*.slide .slide_wrap {
    transition: 1s;
}
.slide:hover .slide_wrap {
    width: 100%;
}*/

/* 
    애니메이션 animation - 마우스가 오버하고 아웃해도 효과가 사라지지 않았으면 
    slide에 hover이 아니라 jquery에서 slide에 오버를 하면 over라는 클래스를 추가함
    해당 클래스가 추가됐을때 animate가 작동됨
*/
.slide.over .slide_wrap {
  animation-name: size100;
  animation-duration: 1s; /* 애니메이션 실행시간 */
  animation-fill-mode: forwards; /* 애니메이션 종료 후 100% 상태 유지 */
}
@keyframes size100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.custom-shape-divider-top-1666616140 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666616140 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 63px;
}

.custom-shape-divider-top-1666616140 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-bottom-1666616714 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1666616714 svg {
  position: relative;
  display: block;
  width: calc(192% + 1.3px);
  height: 215px;
}

.custom-shape-divider-bottom-1666616714 .shape-fill {
  fill: #ffffff;
}
