/* 회사소개>ceo인사말 */
.cnt_ceo{
    position: relative;
}
/* 이미지가 컨텐츠 영역 안에도 있고, 일부가 밖에나가는디자인
컨텐츠 영역 밖에 나간 이미지는 브라우저 사이즈가 줄어들면 짤려도 상관없음
position:absolute; left/right:50%; 가운데를 기준으로 정렬 */
.cnt_ceo .ceo_pic{
    position: absolute;
    right: calc(50% + 180px);
    top: 0;
}
.cnt_ceo .inner{
    margin:  0 0 0 600px;
}
.cnt_ceo .tit{
    font-size: 30px;
    margin: 0 0 35px 0;

}
.cnt_ceo .tit strong{
    font-weight: 400;
    color: #ED1C24;
}
.cnt_ceo .sign{
    margin: 35px 0 0 0;
    text-align: right;
}
@media screen and (max-width:640px){
  
    .cnt_ceo .ceo_pic{
        display: none;
    }
    .cnt_ceo .inner{
        margin:  0 ;
    }
    .cnt_ceo .tit{
        font-size: 20px;
        margin: 37px 0 19px 0;
    
    }
    .cnt_ceo .sign{
        margin: 15px 0 0 0;
    }
}
/* 회사소개>연혁 */
.cnt_historyN .tit{
    font-size: 30px;
    text-align: center;
}
.cnt_historyN .tit span{
    display: block;
}
.cnt_historyN .history_wrap{
    margin: 50px 0 0 0;
    position: relative;
}
.cnt_historyN .history_wrap::before{
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #ED1C24;
}
.cnt_historyN .inner{
    position: relative;
}
.cnt_historyN .year_tit{
    position: absolute;
    top: 0;
}
.cnt_historyN .year_tit.left{
    left: 120px;
}
.cnt_historyN .year_tit.right{
    right: 120px;
}
.cnt_historyN .year_tit .bg{
    width: 440px;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #Fff;
    border-radius: 220px;
}
.cnt_historyN .year_tit .bg.year2010{
    background-image: url(../images/contents/historyN_img01.png);
}
.cnt_historyN .year_tit .bg.year2000{
    background-image: url(../images/contents/historyN_img02.png);
}