@import url('default.css');
@import url('common.css');
@import url('contents.css');

/* 서브레이아웃 sub_visual, 서브메뉴같은서브공통디자인 */
/* background-image가 메뉴마다 이미지 변경되지만
 기본적으로 sub_visual에 배경이미지 하나를 지정해주어야함 */
.sub_visual{
    height: 400px;
    background-image: url(../images/sub/sub01_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.sub_visual.sub1{
    background-image: url(../images/sub/sub01_bg.png);
}
.sub_visual.sub2{
    background-image: url(../images/sub/sub02_bg.png);
}
.sub_visual.sub3{
    background-image: url(../images/sub/sub03_bg.png);
}
.sub_visual.sub4{
    background-image: url(../images/sub/sub04_bg.png);
}
.sub_visual.sub5{
    background-image: url(../images/sub/sub05_bg.png);
}
.sub_visual.sub6{
    background-image: url(../images/sub/sub06_bg.png);
}
.sub_visual p{
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    padding: 236px 0 0 0;
}
@media screen and (max-width:640px){
    .sub_visual{
        height: 178px;
    }
    .sub_visual p{
        font-size: 20px;
        padding: 106px 0 0 0;
    }
}
/* sub_visual반응형 종료 */
.lnb{
    height: 45px;
    background-color: #ED1C24;
    color: #fff;
}
.lnb .lnb_wrap{
    display: flex;
    justify-content: space-between;
}
.lnb .menu{
    display: flex;
}

.lnb .menu a{
    display: block;
    width: 45px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}
.lnb .menu a i{
    font-size: 24px;
    line-height: 45px;
}
.lnb .menu .depth{
    position: relative;
    width: 207px;
}
.lnb .menu .depth button{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.lnb .menu .depth ul{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    color: #3d3d3d;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.lnb .menu .depth ul li{
    width: 100%;
}
.lnb .menu .depth ul li a{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 30px;
    line-height: 40px;
}
.lnb .menu .depth .btn_close{
    display: none;
}
/* 1차메뉴/2차메뉴가 열렸을때
        1.btn_open이사라짐
        2.ul이 나타남
        3.btn_close나타남 */
.lnb .menu .depth.open .btn_open{
    display: none;
}
.lnb .menu .depth.open .btn_close{
    display: flex;
}
.lnb .menu .depth.open ul{
   display: flex;
   flex-wrap: wrap;
}
.lnb .menu .depth.open ul li.now,
.lnb .menu .depth.open>ul>li:hover{
    color: #ED1C24;
}

.lnb .lnb_btn ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.lnb .lnb_btn ul li{
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
   
}
.lnb .lnb_btn ul li button{
    width: 100%;
    height: 100%;
}
.lnb .lnb_btn ul li button i{
    font-size: 24px;
}
.lnb .lnb_btn ul li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
@media screen and (max-width:640px){
    .lnb{
        height: 35px;
    }
    .lnb .wrapper{
        margin: 0;
    }
    .lnb .menu{
        width: 100%;
    }
    .lnb .menu a{
        width: 35px;
        border-left: 0;
    }
    .lnb .menu a i{
        font-size: 18px;
        line-height: 35px;
    }
    .lnb .menu .depth{
        position: relative;
        width: calc((100% -35px)/2);
    }
    .lnb .menu .depth ul{
        top: 35px;
    }
    .lnb .menu .depth ul li a{
        padding: 0 0 0 16%;
        line-height: 35px;
    }
    .lnb .menu .depth .btn_close{
        display: none;
    }
    /* 1차메뉴/2차메뉴가 열렸을때
            1.btn_open이사라짐
            2.ul이 나타남
            3.btn_close나타남 */ 
    .lnb .lnb_btn ul{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .lnb .lnb_btn ul li{
        width: 35px;
        height: 35px;
        border-left: 0;
       
    }
    .lnb .lnb_btn ul .print{
        display: none;
        width: 0;
        height: 0;
    }
    .lnb .lnb_btn ul li button i{
        font-size: 18px;
    }
    .lnb .lnb_btn ul li:last-child{
        border-right: 0;
    }
}
/* lnb반응형 종료 */

.container{
    /* 초기에 코딩할때 메뉴별 빈페이지를 만들고 코딩
        header/footer에 열리는 콘텐츠가 짤리는 현상이 발생할수있어서 
        최소 높이를 주고 코딩*/
    min-height: 300px;
}
.container .sub_tit h2{
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}