@charset "UTF-8";
/* 모든 태그의 스타일 초기화 */
/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, ol, li, address, strong, span, em, p, i, dl, dt, dd, form, fieldset, legend, input, textarea, select, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width/height와 padding결합되면 사이즈가 늘어남. 이걸 막는 스타일
     padding을 줘도 width/height가 유지가 됨 */
}

/* a태그에 브라우저가 주는 기본 속성 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
  font-style: normal;
}

/* 항목 앞에 동그라미 삭제 */
ul, ol, li {
  list-style: none;
}

/* form태그가 문자 스타일을 상속받지 않아서 상속받게 하기 */
form, input, select, textarea, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /* 서체 상속 - button은 body에서 적용한 서체를 
     자동으로 상속 받지 않음 - form관련 태그는 다 그럼 */
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 태그의 legend은 타이틀로 숨김처리 */
}

button {
  background-color: transparent; /* 투명 */
  border: 0;
  cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}

table caption {
  display: none;
}

/* 글자를 두껍게 하는 태그는 모두 일반 두께로 변형 */
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 400;
}

/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
/* 본명조 */
html,
body {
  line-height: 1.2;
  font-family: "Binggrae", "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /* 단어별 줄바꿈 */
}

#wrap {
  /* id="wrap" */
  overflow: hidden;
  position: relative;
  min-width: 360px;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
  width: 100%;
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
  /* 1700px 이하부터 360px까지 모든 사이즈 반응형 
       1700px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1700px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1740px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}

@media screen and (max-width: 1000px) {
  html,
body {
    font-size: 14px;
  }
} /* media 종료 */
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000000;
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #0059a8;
  color: #fff;
  text-align: center;
}

.skip_nav a:focus {
  top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::-moz-selection {
  background: #df007a;
  color: #fff;
}
::selection {
  background: #df007a;
  color: #fff;
}

::-moz-selection {
  background: #df007a;
  color: #fff;
}

::-webkit-selection {
  background: #df007a;
  color: #fff;
}

@font-face {
  font-family: "Binggrae";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Binggrae";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.ttf") format("truetype");
  font-display: swap;
}
.header {
  background-color: #fff;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
}
.header .logo {
  position: absolute;
  top: 10px;
  left: 46%;
}
.header .logo a {
  display: block;
  width: 140px;
  height: 80px;
  background: url(../images/logo.png) no-repeat center center/contain;
  font-size: 0;
  line-height: 0;
  padding: 0 76px;
}
.header .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .gnb ul li:nth-child(2) {
  margin-right: 176px;
}
.header .gnb ul li:nth-child(3) {
  margin-left: 86px;
}
.header .gnb ul li a {
  display: block;
  font-size: 20px;
  padding: 35px 90px;
  font-weight: 700;
}

.visual {
  margin: 100px 0 0 0;
  text-align: center;
}
.visual h2 {
  margin: 265px 0 25px 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 70px;
  color: #3d3d3d;
}
.visual p {
  font-size: 26px;
}
.visual span {
  color: #df007a;
}
.visual .video_area {
  margin: 43px 0 0 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
.visual .video_area video {
  display: block;
}

.oworld {
  margin: 80px 0;
  background: rgb(0, 147, 145);
  background: linear-gradient(135deg, rgb(0, 147, 145) 0%, rgb(86, 194, 142) 100%);
  padding: 80px 0;
}
.oworld h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 70px;
  color: #3d3d3d;
  color: #fff;
  text-align: center;
}
.oworld .oworldbox1 {
  margin: 50px 0 0 0;
  width: 100%;
}
.oworld .oworldbox1 ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.oworld .oworldbox1 ul li {
  width: 24%;
  border-radius: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}
.oworld .oworldbox1 ul li a {
  display: block;
  height: 250px;
  width: 100%;
}
.oworld .oworldbox1 ul li:nth-child(1) {
  background-color: #fff;
  background-image: url(../images/oworld01.png);
}
.oworld .oworldbox1 ul li:nth-child(2) {
  background-color: #f3eada;
  background-image: url(../images/oworld02.png);
}
.oworld .oworldbox1 ul li:nth-child(3) {
  background-color: #e7fefd;
  background-image: url(../images/oworld03.png);
}
.oworld .oworldbox1 ul li:nth-child(4) {
  background-color: #ffe3f1;
  background-image: url(../images/oworld04.png);
}
.oworld .oworldbox1 ul li:hover {
  background-size: cover;
}
.oworld .oworldbox1 ul li:hover:nth-child(1) {
  background-color: #fff;
  background-image: url(../images/oworld_hover01.png);
}
.oworld .oworldbox1 ul li:hover:nth-child(2) {
  background-color: #f3eada;
  background-image: url(../images/oworld_hover02.png);
}
.oworld .oworldbox1 ul li:hover:nth-child(3) {
  background-color: #e7fefd;
  background-image: url(../images/oworld_hover03.png);
}
.oworld .oworldbox1 ul li:hover:nth-child(4) {
  background-color: #ffe3f1;
  background-image: url(../images/oworld_hover04.png);
}
.oworld .oworldbox2 {
  margin: 42px 0 0 0;
}
.oworld .oworldbox2 .txtbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.oworld .oworldbox2 .txtbox li {
  width: 24%;
  height: 200px;
  border-radius: 30px;
  background-color: #fff;
  padding: 44px 0 0 44px;
  position: relative;
  overflow: hidden;
  transition: 1s;
}
.oworld .oworldbox2 .txtbox li h3 {
  font-size: 30px;
  font-weight: 700;
}
.oworld .oworldbox2 .txtbox li p {
  color: #999;
  margin: 44px 0 10px 0;
}
.oworld .oworldbox2 .txtbox li span {
  font-size: 22px;
}
.oworld .oworldbox2 .txtbox li .hover {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 200px;
  padding: 22px 0 0 33px;
  background-color: #643a24;
  color: #fff;
}
.oworld .oworldbox2 .txtbox li .hover h3 {
  font-size: 30px;
  font-weight: 700;
}
.oworld .oworldbox2 .txtbox li .hover strong {
  display: block;
  font-size: 22px;
  margin: 33px 0 10px 0;
}
.oworld .oworldbox2 .txtbox li .hover p {
  color: #ffe3f0;
  margin: 0;
}
.oworld .oworldbox2 .txtbox li:hover .hover {
  -webkit-animation: slideup 0.1s forwards;
          animation: slideup 0.1s forwards;
}
@-webkit-keyframes slideup {
  100% {
    top: 0;
  }
}
@keyframes slideup {
  100% {
    top: 0;
  }
}
.oworld .safari {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}
.oworld .safari a {
  width: 670px;
  height: 110px;
  border-radius: 20px;
  display: block;
  background-color: #643a24;
  color: #fff;
  border: 3px solid #20201e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 5px #20201e;
  transition: 0.3s;
}
.oworld .safari a:hover {
  transform: translateY(5px);
  box-shadow: 0px 5px 5px #20201e;
}
.oworld .safari a strong {
  font-size: 28px;
  font-weight: 700;
}
.oworld .safari a p {
  margin: 20px 0 0 0;
}

.event .main-content-1 {
  width: 100%;
  height: 500vh;
  background: rgb(243, 234, 218);
  background: linear-gradient(135deg, rgb(243, 234, 218) 0%, rgb(107, 137, 132) 100%);
}
.event .main-content-1 .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.event .main-content-1 .sticky .sticky-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 155px 0 0 95px;
}
.event .main-content-1 .sticky .sticky-background h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 70px;
  color: #3d3d3d;
}
.event .main-content-1 .sticky .sticky-background p {
  color: #999;
  font-size: 16px;
}
.event .main-content-1 .sticky .card-frame {
  padding: 150px 0 0 0;
  position: absolute;
  width: 95vw;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event .main-content-1 .sticky .card-frame .card {
  width: 23%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  transform-style: preserve-3d;
  position: relative;
  transform: perspective(100vw) translateX(100vw) rotateY(180deg);
  transition: transform 0.1s;
}
.event .main-content-1 .sticky .card-frame .card .front,
.event .main-content-1 .sticky .card-frame .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.event .main-content-1 .sticky .card-frame .card .front {
  padding: 25px 0 0 0;
  color: #3d3d3d;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.event .main-content-1 .sticky .card-frame .card .front img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.event .main-content-1 .sticky .card-frame .card .front h3 {
  font-size: 30px;
  font-weight: 700;
}
.event .main-content-1 .sticky .card-frame .card .front p {
  margin: 20px 0 20px 0;
}
.event .main-content-1 .sticky .card-frame .card .back {
  transform: rotateY(180deg);
  background: url(../images/event_back.png) no-repeat center center/contain;
}

.sns {
  padding: 80px 0;
}
.sns h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 70px;
  color: #3d3d3d;
  text-align: center;
  margin: 0 0 40px 0;
}
.sns .grid-area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 350px 350px;
  grid-template-areas: "title_you title_blog" "youtube blog" "youtube notice";
}
.sns .grid-area .title_you {
  grid-area: title_you;
  text-align: center;
}
.sns .grid-area .title_you h3 {
  font-size: 40px;
  font-weight: 700;
}
.sns .grid-area .title_you span {
  font-size: 20px;
}
.sns .grid-area .title_blog {
  grid-area: title_blog;
  text-align: center;
}
.sns .grid-area .title_blog h3 {
  font-size: 40px;
  font-weight: 700;
}
.sns .grid-area .youtube {
  grid-area: youtube;
}
.sns .grid-area .youtube .slides {
  width: 100%;
  height: 800px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.sns .grid-area .youtube .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.sns .grid-area .youtube .slides .slide-container {
  display: none;
}
.sns .grid-area .youtube .slides .slide-container .slide {
  top: 0;
  opacity: 1;
  width: 100%;
  height: 700px;
  position: absolute;
  transform: scale(1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}
.sns .grid-area .youtube .slides .slide-container .slide:hover + .nav label {
  opacity: 0.5;
}
.sns .grid-area .youtube .slides .slide-container .slide iframe {
  padding: 10px 40px;
  width: 40%;
  border: 1px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sns .grid-area .youtube .slides input {
  display: none;
}
.sns .grid-area .youtube .slides input:checked + .slide-container {
  display: block;
}
.sns .grid-area .youtube .slides input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.sns .grid-area .youtube .slides input:checked + .slide-container .nav label {
  display: block;
}
.sns .grid-area .youtube .slides input#img-1:checked, .sns .grid-area .youtube .slides input#img-2:checked, .sns .grid-area .youtube .slides input#img-3:checked, .sns .grid-area .youtube .slides input#img-4:checked {
  background: rgba(0, 0, 0, 0.8);
}
.sns .grid-area .blog {
  grid-area: blog;
  padding: 20px 0 0 0;
}
.sns .grid-area .blog .autoslide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns .grid-area .blog .autoslide a {
  display: block;
  width: 400px;
  overflow: hidden;
  border-radius: 40px;
}
.sns .grid-area .blog .autoslide a ul {
  width: 2400px;
  height: 300px;
  position: relative;
  -webkit-animation: slide_animation 20s infinite alternate linear;
          animation: slide_animation 20s infinite alternate linear;
}
@-webkit-keyframes slide_animation {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-400px);
  }
  20% {
    transform: translateX(-400px);
  }
  30% {
    transform: translateX(-800px);
  }
  40% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-1200px);
  }
  60% {
    transform: translateX(-1200px);
  }
  70% {
    transform: translateX(-1600px);
  }
  80% {
    transform: translateX(-1600px);
  }
  90% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes slide_animation {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-400px);
  }
  20% {
    transform: translateX(-400px);
  }
  30% {
    transform: translateX(-800px);
  }
  40% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-1200px);
  }
  60% {
    transform: translateX(-1200px);
  }
  70% {
    transform: translateX(-1600px);
  }
  80% {
    transform: translateX(-1600px);
  }
  90% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.sns .grid-area .blog .autoslide a li {
  float: left;
  opacity: 1;
  width: 400px;
  height: 300px;
}
.sns .grid-area .notice {
  grid-area: notice;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.sns .grid-area .notice a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 180px;
  border-radius: 40px;
}
.sns .grid-area .notice a:nth-child(1) {
  background-color: #c0fcf8;
}
.sns .grid-area .notice a:nth-child(2) {
  background-color: #ffe3f3;
  margin: 20px 0 0 0;
}
.sns .grid-area .notice a h4 {
  margin: 0 0 0 40px;
  font-size: 30px;
  font-weight: 700;
}
.sns .grid-area .notice a span {
  color: #df007a;
  margin: 0 40px 0 0;
  font-size: 40px;
}

.nav {
  position: relative;
}
.nav label {
  width: 200px;
  height: 100%;
  position: absolute;
  opacity: 1;
  z-index: 9;
  cursor: pointer;
  transition: 0.2s;
  color: #666;
  font-size: 100pt;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
}
.nav label span {
  font-size: 100px;
  line-height: 680px;
}
.nav label span:hover {
  color: #333;
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.nav label.prev {
  left: -50px;
}
.nav label.next {
  right: -50px;
}
.nav label.next:hover {
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.map {
  padding: 50px 0 0 0;
}
.map h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 70px;
  color: #3d3d3d;
  margin: 0 0 80px 100px;
}
.map .gridarea {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-areas: "maparea txtarea";
}
.map .gridarea .maparea {
  grid-area: maparea;
  border: 3px solid #000;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.map .gridarea .maparea iframe {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.map .gridarea .txtarea {
  grid-area: txtarea;
  padding: 100px 0 0 30px;
}
.map .gridarea .txtarea h3 {
  font-size: 50px;
  font-weight: 700;
}
.map .gridarea .txtarea ul {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}
.map .gridarea .txtarea ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0 0 0;
}
.map .gridarea .txtarea ul li span {
  color: #df007a;
  margin: 0 20px 0 0;
  font-size: 40px;
}
.map .gridarea .txtarea ul li p {
  font-size: 20px;
  line-height: 1.5;
}

aside {
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 50px;
  transition: 0.5s;
}
aside a {
  display: block;
  background: url(../images/ticket_w.png) no-repeat center center/contain;
  width: 139px;
  height: 64px;
  font-size: 0;
  line-height: 0;
}
aside a:hover span {
  transform: translate(-10px, -5px);
}
aside a span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/ticket.png) no-repeat center center/contain;
  transition: 0.1s;
}

.footer {
  margin: 50px 0 0 0;
  padding: 20px 0 30px 0;
  background-color: #ebebeb;
  color: #999;
  text-align: center;
}
.footer .flogo {
  display: flex;
  justify-content: center;
}
.footer .flogo a {
  display: block;
  background: url(../images/logo.png) no-repeat center center/contain;
  width: 139px;
  height: 64px;
  font-size: 0;
  line-height: 0;
}
.footer .fnav ul {
  display: flex;
  justify-content: center;
}
.footer .fnav ul li {
  padding: 15px 25px;
  font-weight: 700;
}
.footer .fnav ul li.privacy {
  color: #3d3d3d;
}
.footer .finfo span {
  padding: 15px;
}
.footer .copyright {
  padding: 20px;
}

@media screen and (max-width: 1500px) {
  .header .logo a {
    padding: 0 34px;
  }
  .header .gnb ul li:nth-child(2) {
    margin-right: 80px;
  }
  .header .gnb ul li:nth-child(3) {
    margin-left: 60px;
  }
  .header .gnb ul li a {
    padding: 35px 100px;
  }
  .visual {
    margin: 100px 0 0 0;
    text-align: center;
  }
  .visual h2 {
    margin: 265px 0 25px 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
  }
  .visual p {
    font-size: 26px;
  }
  .visual span {
    color: #df007a;
  }
  .visual .video_area {
    margin: 43px 0 0 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
  }
  .visual .video_area video {
    display: block;
  }
  .oworld {
    margin: 80px 0;
    padding: 80px 0;
  }
  .oworld h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    color: #fff;
    text-align: center;
  }
  .oworld .oworldbox1 {
    margin: 50px 0 0 0;
    width: 100%;
  }
  .oworld .oworldbox1 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .oworld .oworldbox1 ul li {
    width: 24%;
    border-radius: 40px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .oworld .oworldbox1 ul li a {
    display: block;
    height: 250px;
    width: 100%;
  }
  .oworld .oworldbox1 ul li:nth-child(1) {
    background-color: #fff;
    background-image: url(../images/oworld01.png);
  }
  .oworld .oworldbox1 ul li:nth-child(2) {
    background-color: #f3eada;
    background-image: url(../images/oworld02.png);
  }
  .oworld .oworldbox1 ul li:nth-child(3) {
    background-color: #e7fefd;
    background-image: url(../images/oworld03.png);
  }
  .oworld .oworldbox1 ul li:nth-child(4) {
    background-color: #ffe3f1;
    background-image: url(../images/oworld04.png);
  }
  .oworld .oworldbox1 ul li:hover {
    background-size: cover;
  }
  .oworld .oworldbox1 ul li:hover:nth-child(1) {
    background-color: #fff;
    background-image: url(../images/oworld_hover01.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(2) {
    background-color: #f3eada;
    background-image: url(../images/oworld_hover02.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(3) {
    background-color: #e7fefd;
    background-image: url(../images/oworld_hover03.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(4) {
    background-color: #ffe3f1;
    background-image: url(../images/oworld_hover04.png);
  }
  .oworld .oworldbox2 {
    margin: 42px 0 0 0;
  }
  .oworld .oworldbox2 .txtbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .oworld .oworldbox2 .txtbox li {
    width: 24%;
    height: 200px;
    border-radius: 30px;
    background-color: #fff;
    padding: 44px 0 0 44px;
    position: relative;
    overflow: hidden;
    transition: 1s;
  }
  .oworld .oworldbox2 .txtbox li h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .oworld .oworldbox2 .txtbox li p {
    color: #999;
    margin: 44px 0 10px 0;
  }
  .oworld .oworldbox2 .txtbox li span {
    font-size: 22px;
  }
  .oworld .oworldbox2 .txtbox li .hover {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 200px;
    padding: 22px 0 0 33px;
    background-color: #643a24;
    color: #fff;
  }
  .oworld .oworldbox2 .txtbox li .hover h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .oworld .oworldbox2 .txtbox li .hover strong {
    display: block;
    font-size: 22px;
    margin: 33px 0 10px 0;
  }
  .oworld .oworldbox2 .txtbox li .hover p {
    color: #ffe3f0;
    margin: 0;
  }
  .oworld .oworldbox2 .txtbox li:hover .hover {
    -webkit-animation: slideup 0.1s forwards;
            animation: slideup 0.1s forwards;
  }
  @-webkit-keyframes slideup {
    100% {
      top: 0;
    }
  }
  @keyframes slideup {
    100% {
      top: 0;
    }
  }
  .oworld .safari {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
  }
  .oworld .safari a {
    width: 670px;
    height: 110px;
    border-radius: 20px;
    display: block;
    background-color: #643a24;
    color: #fff;
    border: 3px solid #20201e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px #20201e;
    transition: 0.3s;
  }
  .oworld .safari a:hover {
    transform: translateY(5px);
    box-shadow: 0px 5px 5px #20201e;
  }
  .oworld .safari a strong {
    font-size: 28px;
    font-weight: 700;
  }
  .oworld .safari a p {
    margin: 20px 0 0 0;
  }
  .event .main-content-1 {
    width: 100%;
    height: 500vh;
    background-color: #f3eada;
  }
  .event .main-content-1 .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .event .main-content-1 .sticky .sticky-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 155px 0 0 95px;
  }
  .event .main-content-1 .sticky .sticky-background h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
  }
  .event .main-content-1 .sticky .sticky-background p {
    color: #999;
    font-size: 16px;
  }
  .event .main-content-1 .sticky .card-frame {
    padding: 150px 0 0 0;
    position: absolute;
    width: 95vw;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .event .main-content-1 .sticky .card-frame .card {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    transform-style: preserve-3d;
    position: relative;
    transform: perspective(100vw) translateX(100vw) rotateY(180deg);
    transition: transform 0.1s;
  }
  .event .main-content-1 .sticky .card-frame .card .front,
.event .main-content-1 .sticky .card-frame .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .event .main-content-1 .sticky .card-frame .card .front {
    padding: 25px 0 0 0;
    color: #3d3d3d;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
  }
  .event .main-content-1 .sticky .card-frame .card .front img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .event .main-content-1 .sticky .card-frame .card .front h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .event .main-content-1 .sticky .card-frame .card .front p {
    margin: 20px 0 20px 0;
  }
  .event .main-content-1 .sticky .card-frame .card .back {
    transform: rotateY(180deg);
    background: url(../images/event_back.png) no-repeat center center/contain;
  }
  .sns {
    padding: 80px 0;
  }
  .sns h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    text-align: center;
    margin: 0 0 40px 0;
  }
  .sns .grid-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 350px 350px;
    grid-template-areas: "title_you title_blog" "youtube blog" "youtube notice";
  }
  .sns .grid-area .title_you {
    grid-area: title_you;
    text-align: center;
  }
  .sns .grid-area .title_you h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .sns .grid-area .title_you span {
    font-size: 20px;
  }
  .sns .grid-area .title_blog {
    grid-area: title_blog;
    text-align: center;
  }
  .sns .grid-area .title_blog h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .sns .grid-area .youtube {
    grid-area: youtube;
  }
  .sns .grid-area .youtube .slides {
    width: 100%;
    height: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .sns .grid-area .youtube .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .sns .grid-area .youtube .slides .slide-container {
    display: none;
  }
  .sns .grid-area .youtube .slides .slide-container .slide {
    top: 0;
    opacity: 1;
    width: 100%;
    height: 700px;
    position: absolute;
    transform: scale(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
  }
  .sns .grid-area .youtube .slides .slide-container .slide:hover + .nav label {
    opacity: 0.5;
  }
  .sns .grid-area .youtube .slides .slide-container .slide iframe {
    padding: 10px 20px;
    width: 38%;
    border: 1px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sns .grid-area .youtube .slides input {
    display: none;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container {
    display: block;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container .nav label {
    display: block;
  }
  .sns .grid-area .youtube .slides input#img-1:checked, .sns .grid-area .youtube .slides input#img-2:checked, .sns .grid-area .youtube .slides input#img-3:checked, .sns .grid-area .youtube .slides input#img-4:checked {
    background: rgba(0, 0, 0, 0.8);
  }
  .sns .grid-area .blog {
    grid-area: blog;
    padding: 20px 0 0 0;
  }
  .sns .grid-area .blog .autoslide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sns .grid-area .blog .autoslide a {
    display: block;
    width: 400px;
    overflow: hidden;
    border-radius: 40px;
  }
  .sns .grid-area .blog .autoslide a ul {
    width: 2400px;
    height: 300px;
    position: relative;
    -webkit-animation: slide_animation 20s infinite alternate linear;
            animation: slide_animation 20s infinite alternate linear;
  }
  @-webkit-keyframes slide_animation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-400px);
    }
    20% {
      transform: translateX(-400px);
    }
    30% {
      transform: translateX(-800px);
    }
    40% {
      transform: translateX(-800px);
    }
    50% {
      transform: translateX(-1200px);
    }
    60% {
      transform: translateX(-1200px);
    }
    70% {
      transform: translateX(-1600px);
    }
    80% {
      transform: translateX(-1600px);
    }
    90% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  @keyframes slide_animation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-400px);
    }
    20% {
      transform: translateX(-400px);
    }
    30% {
      transform: translateX(-800px);
    }
    40% {
      transform: translateX(-800px);
    }
    50% {
      transform: translateX(-1200px);
    }
    60% {
      transform: translateX(-1200px);
    }
    70% {
      transform: translateX(-1600px);
    }
    80% {
      transform: translateX(-1600px);
    }
    90% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  .sns .grid-area .blog .autoslide a li {
    float: left;
    opacity: 1;
    width: 400px;
    height: 300px;
  }
  .sns .grid-area .notice {
    grid-area: notice;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .sns .grid-area .notice a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 180px;
    border-radius: 40px;
  }
  .sns .grid-area .notice a:nth-child(1) {
    background-color: #c0fcf8;
  }
  .sns .grid-area .notice a:nth-child(2) {
    background-color: #ffe3f3;
    margin: 20px 0 0 0;
  }
  .sns .grid-area .notice a h4 {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-weight: 700;
  }
  .sns .grid-area .notice a span {
    color: #df007a;
    margin: 0 40px 0 0;
    font-size: 40px;
  }
  .nav {
    position: relative;
  }
  .nav label {
    width: 200px;
    height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 9;
    cursor: pointer;
    transition: 0.2s;
    color: #666;
    font-size: 100pt;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nav label span {
    font-size: 100px;
    line-height: 680px;
  }
  .nav label span:hover {
    color: #333;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  .nav label.prev {
    left: -50px;
  }
  .nav label.next {
    right: -50px;
  }
  .nav label.next:hover {
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  .map {
    padding: 50px 0 0 0;
  }
  .map h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    margin: 0 0 80px 100px;
  }
  .map .gridarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "maparea txtarea";
  }
  .map .gridarea .maparea {
    grid-area: maparea;
    border: 3px solid #000;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    margin: 0 0 0 -300px;
  }
  .map .gridarea .maparea iframe {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  }
  .map .gridarea .txtarea {
    grid-area: txtarea;
    padding: 50px 0 0 20px;
  }
  .map .gridarea .txtarea h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .map .gridarea .txtarea ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .map .gridarea .txtarea ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 0 0 0;
  }
  .map .gridarea .txtarea ul li span {
    color: #df007a;
    margin: 0 20px 0 0;
    font-size: 20px;
  }
  .map .gridarea .txtarea ul li p {
    font-size: 16px;
    line-height: 1.5;
  }
  aside {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
    transition: 0.5s;
  }
  aside:hover {
    transform: translate(-10px, -10px);
  }
  aside a {
    display: block;
    background: url(../images/ticket.png) no-repeat center center/contain;
    width: 139px;
    height: 64px;
    font-size: 0;
    line-height: 0;
  }
  .footer {
    margin: 50px 0 0 0;
    padding: 20px 0 30px 0;
    background-color: #ebebeb;
    color: #999;
    text-align: center;
  }
  .footer .flogo {
    display: flex;
    justify-content: center;
  }
  .footer .flogo a {
    display: block;
    background: url(../images/logo.png) no-repeat center center/contain;
    width: 100px;
    height: 50px;
    font-size: 0;
    line-height: 0;
  }
  .footer .fnav ul {
    display: flex;
    justify-content: center;
  }
  .footer .fnav ul li {
    padding: 15px 25px;
    font-weight: 700;
  }
  .footer .fnav ul li.privacy {
    color: #3d3d3d;
  }
  .footer .finfo span {
    padding: 15px;
  }
  .footer .copyright {
    padding: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    background-color: #fff;
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 100;
  }
  .header .logo {
    position: absolute;
    top: 10px;
    left: 43%;
  }
  .header .logo a {
    display: block;
    width: 100px;
    height: 60px;
    background: url(../images/logo.png) no-repeat center center/contain;
    font-size: 0;
    line-height: 0;
    padding: 0 56px;
  }
  .header .gnb ul {
    margin: 60px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header .gnb ul li:nth-child(2) {
    margin-right: 0;
  }
  .header .gnb ul li:nth-child(3) {
    margin-left: 0;
  }
  .header .gnb ul li a {
    display: block;
    font-size: 16px;
    padding: 20px;
    font-weight: 700;
  }
  .visual {
    margin: 100px 0 0 0;
    text-align: center;
  }
  .visual h2 {
    margin: 205px 0 25px 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    color: #3d3d3d;
  }
  .visual p {
    font-size: 26px;
  }
  .visual span {
    color: #df007a;
  }
  .visual .video_area {
    margin: 43px 0 0 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
  }
  .visual .video_area video {
    display: block;
  }
  .oworld {
    margin: 80px 0;
    background: rgb(0, 147, 145);
    background: linear-gradient(135deg, rgb(0, 147, 145) 0%, rgb(86, 194, 142) 100%);
    padding: 80px 0;
  }
  .oworld h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    color: #fff;
    text-align: center;
  }
  .oworld .oworldbox1 {
    margin: 50px 0 0 0;
    width: 100%;
  }
  .oworld .oworldbox1 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .oworld .oworldbox1 ul li {
    width: 24%;
    border-radius: 40px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .oworld .oworldbox1 ul li a {
    display: block;
    height: 250px;
    width: 100%;
  }
  .oworld .oworldbox1 ul li:nth-child(1) {
    background-color: #fff;
    background-image: url(../images/oworld01.png);
  }
  .oworld .oworldbox1 ul li:nth-child(2) {
    background-color: #f3eada;
    background-image: url(../images/oworld02.png);
  }
  .oworld .oworldbox1 ul li:nth-child(3) {
    background-color: #e7fefd;
    background-image: url(../images/oworld03.png);
  }
  .oworld .oworldbox1 ul li:nth-child(4) {
    background-color: #ffe3f1;
    background-image: url(../images/oworld04.png);
  }
  .oworld .oworldbox1 ul li:hover {
    background-size: cover;
  }
  .oworld .oworldbox1 ul li:hover:nth-child(1) {
    background-color: #fff;
    background-image: url(../images/oworld_hover01.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(2) {
    background-color: #f3eada;
    background-image: url(../images/oworld_hover02.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(3) {
    background-color: #e7fefd;
    background-image: url(../images/oworld_hover03.png);
  }
  .oworld .oworldbox1 ul li:hover:nth-child(4) {
    background-color: #ffe3f1;
    background-image: url(../images/oworld_hover04.png);
  }
  .oworld .oworldbox2 {
    margin: 42px 0 0 0;
  }
  .oworld .oworldbox2 .txtbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .oworld .oworldbox2 .txtbox li {
    width: 24%;
    height: 200px;
    border-radius: 30px;
    background-color: #fff;
    padding: 44px 0 0 44px;
    position: relative;
    overflow: hidden;
    transition: 1s;
  }
  .oworld .oworldbox2 .txtbox li h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .oworld .oworldbox2 .txtbox li p {
    color: #999;
    margin: 44px 0 10px 0;
  }
  .oworld .oworldbox2 .txtbox li span {
    font-size: 22px;
  }
  .oworld .oworldbox2 .txtbox li .hover {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 200px;
    padding: 22px 0 0 33px;
    background-color: #643a24;
    color: #fff;
  }
  .oworld .oworldbox2 .txtbox li .hover h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .oworld .oworldbox2 .txtbox li .hover strong {
    display: block;
    font-size: 22px;
    margin: 33px 0 10px 0;
  }
  .oworld .oworldbox2 .txtbox li .hover p {
    color: #ffe3f0;
    margin: 0;
  }
  .oworld .oworldbox2 .txtbox li:hover .hover {
    -webkit-animation: slideup 0.1s forwards;
            animation: slideup 0.1s forwards;
  }
  @-webkit-keyframes slideup {
    100% {
      top: 0;
    }
  }
  @keyframes slideup {
    100% {
      top: 0;
    }
  }
  .oworld .safari {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
  }
  .oworld .safari a {
    width: 670px;
    height: 110px;
    border-radius: 20px;
    display: block;
    background-color: #643a24;
    color: #fff;
    border: 3px solid #20201e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px #20201e;
    transition: 0.3s;
  }
  .oworld .safari a:hover {
    transform: translateY(5px);
    box-shadow: 0px 5px 5px #20201e;
  }
  .oworld .safari a strong {
    font-size: 28px;
    font-weight: 700;
  }
  .oworld .safari a p {
    margin: 20px 0 0 0;
  }
  .event .main-content-1 {
    width: 100%;
    height: 500vh;
    background: rgb(243, 234, 218);
    background: linear-gradient(135deg, rgb(243, 234, 218) 0%, rgb(107, 137, 132) 100%);
  }
  .event .main-content-1 .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .event .main-content-1 .sticky .sticky-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 155px 0 0 95px;
  }
  .event .main-content-1 .sticky .sticky-background h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
  }
  .event .main-content-1 .sticky .sticky-background p {
    color: #999;
    font-size: 16px;
  }
  .event .main-content-1 .sticky .card-frame {
    padding: 150px 0 0 0;
    position: absolute;
    width: 95vw;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .event .main-content-1 .sticky .card-frame .card {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    transform-style: preserve-3d;
    position: relative;
    transform: perspective(100vw) translateX(100vw) rotateY(180deg);
    transition: transform 0.1s;
  }
  .event .main-content-1 .sticky .card-frame .card .front,
.event .main-content-1 .sticky .card-frame .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .event .main-content-1 .sticky .card-frame .card .front {
    padding: 25px 0 0 0;
    color: #3d3d3d;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
  }
  .event .main-content-1 .sticky .card-frame .card .front img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .event .main-content-1 .sticky .card-frame .card .front h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .event .main-content-1 .sticky .card-frame .card .front p {
    margin: 20px 0 20px 0;
  }
  .event .main-content-1 .sticky .card-frame .card .back {
    transform: rotateY(180deg);
    background: url(../images/event_back.png) no-repeat center center/contain;
  }
  .sns {
    padding: 80px 0;
  }
  .sns h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    text-align: center;
    margin: 0 0 40px 0;
  }
  .sns .grid-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 350px 350px;
    grid-template-areas: "title_you title_blog" "youtube blog" "youtube notice";
  }
  .sns .grid-area .title_you {
    grid-area: title_you;
    text-align: center;
  }
  .sns .grid-area .title_you h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .sns .grid-area .title_you span {
    font-size: 20px;
  }
  .sns .grid-area .title_blog {
    grid-area: title_blog;
    text-align: center;
  }
  .sns .grid-area .title_blog h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .sns .grid-area .youtube {
    grid-area: youtube;
  }
  .sns .grid-area .youtube .slides {
    width: 100%;
    height: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .sns .grid-area .youtube .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .sns .grid-area .youtube .slides .slide-container {
    display: none;
  }
  .sns .grid-area .youtube .slides .slide-container .slide {
    top: 0;
    opacity: 1;
    width: 100%;
    height: 700px;
    position: absolute;
    transform: scale(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
  }
  .sns .grid-area .youtube .slides .slide-container .slide:hover + .nav label {
    opacity: 0.5;
  }
  .sns .grid-area .youtube .slides .slide-container .slide iframe {
    padding: 10px 40px;
    width: 40%;
    border: 1px;
    border-radius: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sns .grid-area .youtube .slides input {
    display: none;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container {
    display: block;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }
  .sns .grid-area .youtube .slides input:checked + .slide-container .nav label {
    display: block;
  }
  .sns .grid-area .youtube .slides input#img-1:checked, .sns .grid-area .youtube .slides input#img-2:checked, .sns .grid-area .youtube .slides input#img-3:checked, .sns .grid-area .youtube .slides input#img-4:checked {
    background: rgba(0, 0, 0, 0.8);
  }
  .sns .grid-area .blog {
    grid-area: blog;
    padding: 20px 0 0 0;
  }
  .sns .grid-area .blog .autoslide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sns .grid-area .blog .autoslide a {
    display: block;
    width: 400px;
    overflow: hidden;
    border-radius: 40px;
  }
  .sns .grid-area .blog .autoslide a ul {
    width: 2400px;
    height: 300px;
    position: relative;
    -webkit-animation: slide_animation 20s infinite alternate linear;
            animation: slide_animation 20s infinite alternate linear;
  }
  @-webkit-keyframes slide_animation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-400px);
    }
    20% {
      transform: translateX(-400px);
    }
    30% {
      transform: translateX(-800px);
    }
    40% {
      transform: translateX(-800px);
    }
    50% {
      transform: translateX(-1200px);
    }
    60% {
      transform: translateX(-1200px);
    }
    70% {
      transform: translateX(-1600px);
    }
    80% {
      transform: translateX(-1600px);
    }
    90% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  @keyframes slide_animation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-400px);
    }
    20% {
      transform: translateX(-400px);
    }
    30% {
      transform: translateX(-800px);
    }
    40% {
      transform: translateX(-800px);
    }
    50% {
      transform: translateX(-1200px);
    }
    60% {
      transform: translateX(-1200px);
    }
    70% {
      transform: translateX(-1600px);
    }
    80% {
      transform: translateX(-1600px);
    }
    90% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  .sns .grid-area .blog .autoslide a li {
    float: left;
    opacity: 1;
    width: 400px;
    height: 300px;
  }
  .sns .grid-area .notice {
    grid-area: notice;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .sns .grid-area .notice a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 180px;
    border-radius: 40px;
  }
  .sns .grid-area .notice a:nth-child(1) {
    background-color: #c0fcf8;
  }
  .sns .grid-area .notice a:nth-child(2) {
    background-color: #ffe3f3;
    margin: 20px 0 0 0;
  }
  .sns .grid-area .notice a h4 {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-weight: 700;
  }
  .sns .grid-area .notice a span {
    color: #df007a;
    margin: 0 40px 0 0;
    font-size: 40px;
  }
  .nav {
    position: relative;
  }
  .nav label {
    width: 200px;
    height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 9;
    cursor: pointer;
    transition: 0.2s;
    color: #666;
    font-size: 100pt;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nav label span {
    font-size: 100px;
    line-height: 680px;
  }
  .nav label span:hover {
    color: #333;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  .nav label.prev {
    left: -50px;
  }
  .nav label.next {
    right: -50px;
  }
  .nav label.next:hover {
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  .map {
    padding: 50px 0 0 0;
  }
  .map h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 70px;
    color: #3d3d3d;
    margin: 0 0 80px 100px;
  }
  .map .gridarea {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-areas: "maparea txtarea";
  }
  .map .gridarea .maparea {
    grid-area: maparea;
    border: 3px solid #000;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  }
  .map .gridarea .maparea iframe {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  }
  .map .gridarea .txtarea {
    grid-area: txtarea;
    padding: 100px 0 0 30px;
  }
  .map .gridarea .txtarea h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .map .gridarea .txtarea ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .map .gridarea .txtarea ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0 0 0;
  }
  .map .gridarea .txtarea ul li span {
    color: #df007a;
    margin: 0 20px 0 0;
    font-size: 40px;
  }
  .map .gridarea .txtarea ul li p {
    font-size: 20px;
    line-height: 1.5;
  }
  aside {
    position: absolute;
    z-index: 10;
    bottom: 350px;
    right: 50px;
    transition: 0.5s;
  }
  aside a {
    display: block;
    background: url(../images/ticket_w.png) no-repeat center center/contain;
    width: 100px;
    height: 50px;
    font-size: 0;
    line-height: 0;
  }
  aside a:hover span {
    transform: translate(-10px, -5px);
  }
  aside a span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/ticket.png) no-repeat center center/contain;
    transition: 0.1s;
  }
  .footer {
    margin: 50px 0 0 0;
    padding: 20px 0 30px 0;
    background-color: #ebebeb;
    color: #999;
    text-align: center;
  }
  .footer .flogo {
    display: flex;
    justify-content: center;
  }
  .footer .flogo a {
    display: block;
    background: url(../images/logo.png) no-repeat center center/contain;
    width: 139px;
    height: 64px;
    font-size: 0;
    line-height: 0;
  }
  .footer .fnav ul {
    display: flex;
    justify-content: center;
  }
  .footer .fnav ul li {
    padding: 15px 25px;
    font-weight: 700;
  }
  .footer .fnav ul li.privacy {
    color: #3d3d3d;
  }
  .footer .finfo span {
    padding: 15px;
  }
  .footer .copyright {
    padding: 20px;
  }
}