@import "_default.scss";
@import "_common.scss";
@import "_var.scss";
@font-face {
  font-family: "Binggrae";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeRegular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Binggrae";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.ttf")
      format("truetype");
  font-display: swap;
}
.header {
  background-color: #fff;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
  .logo {
    position: absolute;
    top: 10px;
    left: 46%;
    a {
      display: block;
      width: 140px;
      height: 80px;
      background: url(../images/logo.png) no-repeat center center / contain;
      font-size: 0;
      line-height: 0;
      padding: 0 76px;
    }
  }
  .gnb {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        &:nth-child(2) {
          margin-right: 176px;
        }
        &:nth-child(3) {
          margin-left: 176px;
        }
        a {
          display: block;
          font-size: 20px;
          padding: 35px 100px;
          font-weight: 700;
        }
      }
    }
  }
}
.visual {
  margin: 100px 0 0 0;

  text-align: center;
  h2 {
    margin: 265px 0 25px 0;
    @include title_style;
  }
  p {
    font-size: 26px;
  }
  span {
    color: #df007a;
  }
  .video_area {
    margin: 43px 0 0 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    video {
      display: block;
    }
  }
}
.oworld {
  margin: 80px 0;
  background-color: #00665c;
  padding: 80px 0;
  h2 {
    @include title_style;
    color: #fff;
    text-align: center;
  }
  .oworldbox1 {
    margin: 50px 0 0 0;
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        width: 24%;
        border-radius: 40px;
        background-position: center center;
        background-repeat: no-repeat;

        a {
          display: block;
          height: 250px;
          width: 100%;
        }

        &:nth-child(1) {
          background-color: #fff;
          background-image: url(../images/oworld01.png);
        }
        &:nth-child(2) {
          background-color: #f3eada;
          background-image: url(../images/oworld02.png);
        }
        &:nth-child(3) {
          background-color: #e7fefd;
          background-image: url(../images/oworld03.png);
        }
        &:nth-child(4) {
          background-color: #ffe3f1;
          background-image: url(../images/oworld04.png);
        }
        &:hover {
          background-size: cover;
          &:nth-child(1) {
            background-color: #fff;
            background-image: url(../images/oworld_hover01.png);
          }
          &:nth-child(2) {
            background-color: #f3eada;
            background-image: url(../images/oworld_hover02.png);
          }
          &:nth-child(3) {
            background-color: #e7fefd;
            background-image: url(../images/oworld_hover03.png);
          }
          &:nth-child(4) {
            background-color: #ffe3f1;
            background-image: url(../images/oworld_hover04.png);
          }
        }
      }
    }
  }
  .oworldbox2 {
    margin: 42px 0 0 0;
    .txtbox {
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        width: 24%;
        height: 200px;
        border-radius: 30px;
        background-color: #fff;
        padding: 44px 0 0 44px;
        position: relative;
        overflow: hidden;
        transition: 1s;
        h3 {
          font-size: 30px;
          font-weight: 700;
        }
        p {
          color: #999;
          margin: 44px 0 10px 0;
        }
        span {
          font-size: 22px;
        }
        .hover {
          width: 100%;
          height: 200px;
          position: absolute;
          left: 0;
          top: 200px;
          padding: 22px 0 0 33px;

          background-color: #643a24;
          color: #fff;
          h3 {
            font-size: 30px;
            font-weight: 700;
          }
          strong {
            display: block;
            font-size: 22px;
            margin: 33px 0 10px 0;
          }
          p {
            color: #ffe3f0;
            margin: 0;
          }
        }
        &:hover {
          .hover {
            animation: slideup 0.1s forwards;
            @keyframes slideup {
              100% {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .safari {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;

    a {
      width: 670px;
      height: 110px;
      border-radius: 20px;
      display: block;
      background-color: #643a24;
      color: #fff;
      border: 3px solid #20201e;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 10px 5px #20201e;
      transition: 0.3s;
      &:hover {
        transform: translateY(5px);
        box-shadow: 0px 5px 5px #20201e;
      }
      strong {
        font-size: 28px;
        font-weight: 700;
      }
      p {
        margin: 20px 0 0 0;
      }
    }
  }
}
.event {
  .main-content-1 {
    width: 100%;
    height: 500vh;
    background-color: #f3eada;
    .sticky {
      position: sticky;
      top: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .sticky-background {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        padding: 155px 0 0 95px;
        h2 {
          @include title_style;
        }
        p {
          color: #999;
          font-size: 16px;
        }
      }
      .card-frame {
        padding: 150px 0 0 0;
        position: absolute;
        width: 95vw;
        height: 35vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card {
          width: 24%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: end;

          transform-style: preserve-3d;
          position: relative;
          transform: perspective(100vw) translateX(100vw) rotateY(180deg);
          transition: transform 0.1s;
          .front,
          .back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 1vw;
            overflow: hidden;
            backface-visibility: hidden;
          }
          .front {
            padding: 74px 0 0 0;
            color: #fff;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            &.coati {
              background-image: url(../images/event01.png);
            }
            &.sudal {
              background-image: url(../images/event02.png);
            }
            &.dolphin {
              background-image: url(../images/event03.png);
            }
            &.wolf {
              background-image: url(../images/event04.png);
            }
            h3 {
              font-size: 50px;
              font-weight: 700;
            }
            p {
              margin: 35px 0 20px 0;
            }
          }

          .back {
            transform: rotateY(180deg);
            background: url(../images/event_back.png) no-repeat center center /
              contain;
          }
        }
      }
    }
  }
}
@media screen and (orientation: portrait) {
  .card-frame {
    display: grid;
    height: initial;
    width: initial;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    justify-items: center;
  }

  .card {
    font-size: 20vw;
    width: 35vw;
    height: 50vw;
  }
}

.sns {
  height: 1000px;
}
aside {
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 50px;
  transition: 0.5s;
  &:hover {
    transform: translate(-10px, -10px);
  }
  a {
    display: block;
    background: url(../images/ticket.png) no-repeat center center / contain;
    width: 139px;
    height: 64px;
    font-size: 0;
    line-height: 0;
  }
}
