@import url(default.css);
@import url(common.css);
.popup {
  height: 450px;
} /* 팝업의 높이가 됨 */

.popup h2 {
  display: none;
}
/* .popup .popup_round {
  position: relative;
  right: 50%;
  top: 0;
  z-index: 100;
  width: 50%;
  height: 100%;
  background-color: #fff;
  content: 0;
}
.popup .popup_round::before {
  position: absolute;
  right: -80px;
  top: 0;
  width: 80px;
  height: 80px;
  background: url(../images/main/) no-repeat left top / contain;
  content: "";
  rotate: (90deg);
}
.popup .popup_round::after {
  position: absolute;
  right: -80px;
  bottom: 0;
  width: 80px;
  height: 80px;
  background: url(../images/main/) no-repeat left bottom / contain;
  content: "";
} */
.popup ul li {
  padding-left: 8%;
}
.popup ul li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.popup ul li a img.mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .popup {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .popup {
    height: 250px;
  }
}
@media screen and (max-width: 640px) {
  .popup {
    height: 357px;
  } /* 팝업의 높이가 됨 */

  .popup h2 {
    display: none;
  }

  .popup ul li a img.mobile {
    display: block;
  }
  .popup ul li a img.pc {
    display: none;
  }
}
.event {
  margin: 4.4rem 0 2.333rem 0;
}
.event h2 {
  color: #1d1d1d;
  margin: 0 0 7.667rem 0;
  font-size: 3.333rem;
  font-weight: 700;
  line-height: 1;
}
.event ul li {
  float: left;
  /* 넓이가 660px - 1400에서 660px은 몇% 
        660/1400*100 = 47% 
        여백은
        100-47-47 = 6%  
        한줄에 li가 두개 여백이 한개 
        100- (li하나의 넓이 * 2) = 100-(47*2) = 6 
        한줄에 들어가는 여백과 li의넓이가 합이 100% */
  width: 47%;
  margin: 0 6% 7rem 0;

  /* 여백을 고정값으로 주는 경우 - %가 아니고 px 값을 줌
        li 넓이 계산법 - 100% / li의 갯수 = 50% 
        한줄에 들어가야하는 여백의 총합 / li의 갯수 = 80px / 2 = 40px
        li의 넓이 : calc( 100%/li갯수 - 한줄여백총합/li갯수 )
    
    width: calc(50% - 40px);
    margin: 0 80px 0 0;*/
}
.event ul li:nth-child(2),
.event ul li:last-child {
  margin-right: 0;
}
.event ul li:nth-child(2),
.event ul li:nth-child(4) {
  margin-top: -13.333rem;
}
.event ul li a {
  display: block;
}
.event ul li a strong {
  display: block;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.event ul li a strong span {
  display: block;
  margin: 0 0 0.333rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.event ul li a img {
  width: 100%;
  border-radius: 2rem;
}

.event .more {
  position: absolute;
  left: 13.133rem;
  top: 4.067rem;
}

@media screen and (max-width: 1200px) {
  .event h2 {
    font-size: 3rem;
  }
  .event ul li a strong {
    font-size: 1.5rem;
  }
  .event .more {
    left: 12.5rem;
    top: 3.7rem;
  }
  .event .more img {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .event h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .event ul li {
    margin-bottom: 4rem;
  }
  .event ul li:nth-child(2),
  .event ul li:nth-child(4) {
    margin-top: -7rem;
  }
  .event ul li a strong {
    font-size: 1.2rem;
  }
  .event ul li a img {
    border-radius: 1rem;
  }
  .event .more {
    left: 9rem;
    top: 2.4rem;
  }
  .event .more img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .event h2 {
    font-size: 2.308em;
  }
  .event ul li {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .event ul li:nth-child(2),
  .event ul li:nth-child(4) {
    margin-top: 0;
  }
  .event ul li a strong {
    font-size: 1.538rem;
  }
  .event ul li a img {
    border-radius: 0.769rem;
  }
  .event .more {
    left: 10rem;
    top: 2.9rem;
  }
  .event .more img {
    width: 50%;
  }
}
.product {
  padding: 5.133rem 0 6.133rem 0;
  background-color: #ffcc25;
}
.product h2 {
  display: none;
}
.product ul li {
  /*
        여백이 고정일 경우 계산법
        100% / 한줄에 들어가는 li갯수 = 100/4 = 25%
        한줄에 들어가야할 모든 여백 / 한줄에 들어가는 li의 갯수 = 120px / 4 = 30px
        width: calc(25% - 30px)
    */
  float: left;
  width: calc(25% - 30px);
  margin: 0 40px 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: #3d3d3d;
  border-radius: 30px 0 30px 30px;
  background-color: #fff;
  background-position: right 17% bottom 5%;
  background-repeat: no-repeat;
  /* background-size: 50% auto; 가로는 background를 주는 영역의 넓이의 몇% 높이는 auto를 넓이맞춰서 비율에 맞게 조정 */
  background-size: 177px auto; /* 배경이미지 사이즈를 고정 px로 입력 */
}
.product ul li:last-child {
  margin-right: 0;
}
.product ul li.pro1 {
  background-image: url(../images/main/product1.png);
}
.product ul li.pro2 {
  background-image: url(../images/main/product2.png);
}
.product ul li.pro3 {
  background-image: url(../images/main/product3.png);
}
.product ul li.pro4 {
  background-image: url(../images/main/product4.png);
}
.product ul li:nth-child(2),
.product ul li:nth-child(4) {
  margin-top: 4.333rem;
}
.product ul li {
  transition: 0.3s;
}
.product ul li:hover {
  transform: translate(-0.667rem, -0.667rem);
  box-shadow: 0.667rem 0.667rem 0.667rem rgba(0, 0, 0, 0.1);
}
.product ul li a {
  display: block;
  padding: 3.467rem 2.333rem 3.333rem 2.333rem;
}
.product ul li a h3 {
  margin: 0 0 0.733rem 0;
  font-size: 2.667rem;
  font-weight: 700;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap; /* 줄바꿈 금지 */
  text-overflow: ellipsis; /* 짤린 글자는 끝에 ... */
}
.product ul li a h3 span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}
.product ul li a p {
  margin: 0 0 5.533rem 0;
  /* 3줄 고정 */
  overflow: hidden;
  line-height: 1.5;
  height: 4.5em;
}
.product ul li a img {
  /* width: 20%;  a사이즈로 기준으로 그에 20%퍼센트 사이즈 */
}
@media screen and (max-width: 1440px) {
  .product ul li {
    background-size: 140px auto;
  }
  .product ul li a h3 {
    font-size: 2.2rem;
  }
  .product ul li a img {
    transform: scale(0.8, 0.8); /* 원래 이미지크기에 비례해서 80%퍼센트 크기로 변환 */
  }
}
@media screen and (max-width: 1050px) {
  .product ul li {
    /* 여백 80px / 3 =  */
    width: calc(33.33% - 27px);
    margin: 0 40px 0 0;
    background-size: 120px auto;
  }
  .product ul li:nth-child(4) {
    display: none;
  }
  .product ul li:nth-child(3) {
    margin-right: 0;
  }
  .product ul li:nth-child(2),
  .product ul li:nth-child(4) {
    margin-top: 2rem;
  }
  .product ul li a h3 {
    font-size: 2rem;
  }
  .product ul li a p {
    margin: 0 0 2rem 0;
  }
  .product ul li a img {
    transform: scale(0.6, 0.6);
  }
}
@media screen and (max-width: 768px) {
  .product ul li {
    /* 여백 30px / 2 = 15 */
    width: calc(50% - 15px);
    margin: 0 30px 0 0;
    background-size: 110px auto;
  }
  .product ul li:nth-child(3) {
    display: none;
  }
  .product ul li:nth-child(2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .product ul li {
    float: none;
    width: 100%;
    margin: 0;
    background-size: 100px auto;
  }
  .product ul li:nth-child(2) {
    display: none;
  }
  .product ul li:nth-child(2),
  .product ul li:nth-child(4) {
    margin-top: 0;
  }
}
